# Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import json
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import StandardScaler

In [2]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('max_colwidth', None)
pd.describe_option('max_colwidth')

display.max_colwidth : int or None
    The maximum width in characters of a column in the repr of
    a pandas data structure. When the column overflows, a "..."
    placeholder is embedded in the output. A 'None' value means unlimited.
    [default: 50] [currently: None]

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Importing Data

In [4]:
with open('/content/drive/MyDrive/Dataset/energy data/county_id_to_name_map.json') as f:
    data = json.load(f)
    data={'county_id':[i for i in data.keys()],'County':[i for i in data.values()]}
county_map = pd.DataFrame(data)

In [5]:
weather_df=pd.read_csv('/content/drive/MyDrive/Dataset/energy data/forecast_weather.csv')
weather_county_map=pd.read_csv('/content/drive/MyDrive/Dataset/energy data/weather_station_to_county_mapping.csv')

In [6]:
print(weather_df.info(show_counts=True))
print(county_map.info(show_counts=True))
print(weather_county_map.info(show_counts=True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3424512 entries, 0 to 3424511
Data columns (total 18 columns):
 #   Column                             Non-Null Count    Dtype
---  ------                             --------------    -----
 0   latitude                           3424512 non-null  float64
 1   longitude                          3424512 non-null  float64
 2   origin_datetime                    3424512 non-null  object
 3   hours_ahead                        3424512 non-null  int64
 4   temperature                        3424512 non-null  float64
 5   dewpoint                           3424512 non-null  float64
 6   cloudcover_high                    3424512 non-null  float64
 7   cloudcover_low                     3424512 non-null  float64
 8   cloudcover_mid                     3424512 non-null  float64
 9   cloudcover_total                   3424512 non-null  float64
 10  10_metre_u_wind_component          3424512 non-null  float64
 11  10_metre_v_wind_component          3424512 non-null  float64
 12  data_block_id                      3424512 non-null  int64
 13  forecast_datetime                  3424512 non-null  object
 14  direct_solar_radiation             3424512 non-null  float64
 15  surface_solar_radiation_downwards  3424510 non-null  float64
 16  snowfall                           3424512 non-null  float64
 17  total_precipitation                3424512 non-null  float64
dtypes: float64(14), int64(2), object(2)
memory usage: 470.3+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   county_id  16 non-null     object
 1   County     16 non-null     object
dtypes: object(2)
memory usage: 384.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   county_name  49 non-null     object
 1   longitude    112 non-null    float64
 2   latitude     112 non-null    float64
 3   county       49 non-null     float64
dtypes: float64(3), object(1)
memory usage: 3.6+ KB
None

In [7]:
weather_county_map['county'].unique()

array([nan, 10.,  1.,  7.,  6.,  9.,  0., 14.,  3., 13., 11.,  4.,  5.,
       15.,  8.,  2.])

# Creating Mapping for Counties

In [8]:
weather=weather_county_map[weather_county_map['county_name'].notnull()].sort_values(['latitude','longitude'])[['county','county_name']].drop_duplicates()
county_mapp=weather.set_index('county').to_dict()['county_name']

# Finding the best Hyperparameters for knn

In [9]:
weather=weather_county_map[weather_county_map['county_name'].notnull()].sort_values(['latitude','longitude'])

X=np.array(weather[['latitude', 'longitude']])
y=np.array(weather[['county']])
y=y.reshape((y.shape[0],))

k=15
knn_classifier = KNeighborsClassifier(n_neighbors=k)

param_grid = {'p': [1, 2, 3],'weights':['uniform', 'distance'],'algorithm':['auto', 'ball_tree', 'kd_tree', 'brute'],'leaf_size':[25,30]}
grid_search = GridSearchCV(estimator=knn_classifier, param_grid=param_grid, scoring='accuracy', cv=5)
grid_search.fit(X, y)

print("Best hyperparameters:", grid_search.best_params_)
best_knn_model = grid_search.best_estimator_
y_pred = best_knn_model.predict(X)

accuracy = accuracy_score(y, y_pred)
print(f"Accuracy with best hyperparameters: {accuracy}")

/usr/local/lib/python3.10/dist-packages/sklearn/model_selection/_split.py:700: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

Best hyperparameters: {'algorithm': 'auto', 'leaf_size': 25, 'p': 2, 'weights': 'distance'}
Accuracy with best hyperparameters: 1.0

#Training knn model for county Map with best hyperparameters

In [10]:
knn_classifier = KNeighborsClassifier(n_neighbors=k, algorithm='auto',leaf_size=25,p=2,weights='distance')
knn_classifier.fit(X, y)
y_pred = knn_classifier.predict(X)

accuracy = accuracy_score(y, y_pred)
print(f"Accuracy: {accuracy}")

report = classification_report(y, y_pred)
print("Classification Report:\n", report)

Accuracy: 1.0
Classification Report:
               precision    recall  f1-score   support

         0.0       1.00      1.00      1.00         6
         1.0       1.00      1.00      1.00         1
         2.0       1.00      1.00      1.00         4
         3.0       1.00      1.00      1.00         3
         4.0       1.00      1.00      1.00         3
         5.0       1.00      1.00      1.00         4
         6.0       1.00      1.00      1.00         2
         7.0       1.00      1.00      1.00         5
         8.0       1.00      1.00      1.00         1
         9.0       1.00      1.00      1.00         3
        10.0       1.00      1.00      1.00         4
        11.0       1.00      1.00      1.00         4
        13.0       1.00      1.00      1.00         1
        14.0       1.00      1.00      1.00         3
        15.0       1.00      1.00      1.00         5

    accuracy                           1.00        49
   macro avg       1.00      1.00      1.00        49
weighted avg       1.00      1.00      1.00        49

# Applying knn model to predict rest of the unknown coordinates

In [11]:
weather=weather_county_map[weather_county_map['county_name'].isnull()].sort_values(['latitude','longitude']).drop_duplicates(subset=['latitude','longitude']).reset_index(drop=True).drop(['county','county_name'],axis=1)
X=np.array(weather[['latitude','longitude']])
county_predict=knn_classifier.predict(X)
weather=pd.concat([weather, pd.DataFrame(county_predict, columns=['county'])],axis=1)
weather_county_map=weather_county_map.merge(weather,on=['latitude','longitude'], how='left', suffixes=('','_right_'))
weather_county_map['county']=np.where(weather_county_map['county'].isnull(),weather_county_map['county_right_'],weather_county_map['county'])
weather_county_map.drop('county_right_', axis=1, inplace=True)
weather_county_map['county_name']=weather_county_map['county']
weather_county_map['county_name']=weather_county_map['county_name'].map(county_mapp)
weather_county_map[['county_name','latitude',	'longitude',	'county']]
weather_county_map

       county_name  longitude  latitude  county
0         Saaremaa       21.7      57.6    10.0
1         Saaremaa       21.7      57.9    10.0
2         Saaremaa       21.7      58.2    10.0
3         Saaremaa       21.7      58.5    10.0
4         Saaremaa       21.7      58.8    10.0
5         Saaremaa       21.7      59.1    10.0
6         Saaremaa       21.7      59.4    10.0
7         Saaremaa       21.7      59.7    10.0
8         Saaremaa       22.2      57.6    10.0
9         Saaremaa       22.2      57.9    10.0
10        Saaremaa       22.2      58.2    10.0
11        Saaremaa       22.2      58.5    10.0
12        Saaremaa       22.2      58.8    10.0
13        Saaremaa       22.2      59.1    10.0
14        Saaremaa       22.2      59.4    10.0
15        Saaremaa       22.2      59.7    10.0
16        Saaremaa       22.7      57.6    10.0
17        Saaremaa       22.7      57.9    10.0
18        Saaremaa       22.7      58.2    10.0
19        Saaremaa       22.7      58.5    10.0
20         Hiiumaa       22.7      58.8     1.0
21        Saaremaa       22.7      59.1    10.0
22        Saaremaa       22.7      59.4    10.0
23        Saaremaa       22.7      59.7    10.0
24        Saaremaa       23.2      57.6    10.0
25        Saaremaa       23.2      57.9    10.0
26        Saaremaa       23.2      58.2    10.0
27        Saaremaa       23.2      58.5    10.0
28        Saaremaa       23.2      58.8    10.0
29        Saaremaa       23.2      59.1    10.0
30        Saaremaa       23.2      59.4    10.0
31        Saaremaa       23.2      59.7    10.0
32        Pärnumaa       23.7      57.6     7.0
33        Pärnumaa       23.7      57.9     7.0
34        Pärnumaa       23.7      58.2     7.0
35        Pärnumaa       23.7      58.5     7.0
36        Läänemaa       23.7      58.8     6.0
37        Läänemaa       23.7      59.1     6.0
38        Harjumaa       23.7      59.4     0.0
39        Harjumaa       23.7      59.7     0.0
40        Pärnumaa       24.2      57.6     7.0
41        Pärnumaa       24.2      57.9     7.0
42        Pärnumaa       24.2      58.2     7.0
43        Pärnumaa       24.2      58.5     7.0
44        Raplamaa       24.2      58.8     9.0
45        Harjumaa       24.2      59.1     0.0
46        Harjumaa       24.2      59.4     0.0
47        Harjumaa       24.2      59.7     0.0
48        Pärnumaa       24.7      57.6     7.0
49        Pärnumaa       24.7      57.9     7.0
50        Pärnumaa       24.7      58.2     7.0
51        Pärnumaa       24.7      58.5     7.0
52        Raplamaa       24.7      58.8     9.0
53        Raplamaa       24.7      59.1     9.0
54        Harjumaa       24.7      59.4     0.0
55        Harjumaa       24.7      59.7     0.0
56        Pärnumaa       25.2      57.6     7.0
57        Pärnumaa       25.2      57.9     7.0
58        Pärnumaa       25.2      58.2     7.0
59     Viljandimaa       25.2      58.5    14.0
60        Järvamaa       25.2      58.8     3.0
61        Harjumaa       25.2      59.1     0.0
62        Harjumaa       25.2      59.4     0.0
63        Harjumaa       25.2      59.7     0.0
64     Viljandimaa       25.7      57.6    14.0
65     Viljandimaa       25.7      57.9    14.0
66     Viljandimaa       25.7      58.2    14.0
67     Viljandimaa       25.7      58.5    14.0
68        Järvamaa       25.7      58.8     3.0
69        Järvamaa       25.7      59.1     3.0
70        Harjumaa       25.7      59.4     0.0
71        Harjumaa       25.7      59.7     0.0
72         Võrumaa       26.2      57.6    15.0
73        Valgamaa       26.2      57.9    13.0
74        Tartumaa       26.2      58.2    11.0
75       Jõgevamaa       26.2      58.5     4.0
76       Jõgevamaa       26.2      58.8     4.0
77   Lääne-Virumaa       26.2      59.1     5.0
78   Lääne-Virumaa       26.2      59.4     5.0
79   Lääne-Virumaa       26.2      59.7     5.0
80         Võrumaa       26.7      57.6    15.0
81         Võrumaa       26.7      57.9    15.0
82        Tartumaa       26.7      58.2    11.0
83        Tartumaa       26.7      58.5    11.0
84       Jõgevamaa       26.7      58.8     4.0
85   Lääne-Virumaa       26.7      59.1     5.0
86   Lääne-Virumaa       26.7      59.4     5.0
87   Lääne-Virumaa       26.7      59.7     5.0
88         Võrumaa       27.2      57.6    15.0
89         Võrumaa       27.2      57.9    15.0
90        Põlvamaa       27.2      58.2     8.0
91        Tartumaa       27.2      58.5    11.0
92     Ida-Virumaa       27.2      58.8     2.0
93     Ida-Virumaa       27.2      59.1     2.0
94     Ida-Virumaa       27.2      59.4     2.0
95     Ida-Virumaa       27.2      59.7     2.0
96         Võrumaa       27.7      57.6    15.0
97         Võrumaa       27.7      57.9    15.0
98         Võrumaa       27.7      58.2    15.0
99         Võrumaa       27.7      58.5    15.0
100    Ida-Virumaa       27.7      58.8     2.0
101    Ida-Virumaa       27.7      59.1     2.0
102    Ida-Virumaa       27.7      59.4     2.0
103    Ida-Virumaa       27.7      59.7     2.0
104        Võrumaa       28.2      57.6    15.0
105        Võrumaa       28.2      57.9    15.0
106        Võrumaa       28.2      58.2    15.0
107        Võrumaa       28.2      58.5    15.0
108    Ida-Virumaa       28.2      58.8     2.0
109    Ida-Virumaa       28.2      59.1     2.0
110    Ida-Virumaa       28.2      59.4     2.0
111    Ida-Virumaa       28.2      59.7     2.0

# Retraining knn model with the new found values

In [ ]:
X=np.array(weather_county_map[['latitude', 'longitude']])
y=np.array(weather_county_map[['county']])
y=y.reshape((y.shape[0],))

k=15
knn_classifier = KNeighborsClassifier(n_neighbors=k)

param_grid = {'p': [1, 2, 3],'weights':['uniform', 'distance'],'algorithm':['auto', 'ball_tree', 'kd_tree', 'brute'],'leaf_size':[25,30]}
grid_search = GridSearchCV(estimator=knn_classifier, param_grid=param_grid, scoring='accuracy', cv=5)
grid_search.fit(X, y)

print("Best hyperparameters:", grid_search.best_params_)
best_knn_model = grid_search.best_estimator_
y_pred = best_knn_model.predict(X)

accuracy = accuracy_score(y, y_pred)
print(f"Accuracy with best hyperparameters: {accuracy}")

/usr/local/lib/python3.10/dist-packages/sklearn/model_selection/_split.py:700: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

Best hyperparameters: {'algorithm': 'auto', 'leaf_size': 25, 'p': 1, 'weights': 'distance'}
Accuracy with best hyperparameters: 1.0

In [ ]:
knn_classifier = KNeighborsClassifier(n_neighbors=k, algorithm='auto',leaf_size=25,p=1,weights='distance')
knn_classifier.fit(X, y)
y_pred = knn_classifier.predict(X)

accuracy = accuracy_score(y, y_pred)
print(f"Accuracy: {accuracy}")

report = classification_report(y, y_pred)
print("Classification Report:\n", report)

Accuracy: 1.0
Classification Report:
               precision    recall  f1-score   support

         0.0       1.00      1.00      1.00        12
         1.0       1.00      1.00      1.00         1
         2.0       1.00      1.00      1.00        12
         3.0       1.00      1.00      1.00         3
         4.0       1.00      1.00      1.00         3
         5.0       1.00      1.00      1.00         6
         6.0       1.00      1.00      1.00         2
         7.0       1.00      1.00      1.00        15
         8.0       1.00      1.00      1.00         1
         9.0       1.00      1.00      1.00         3
        10.0       1.00      1.00      1.00        31
        11.0       1.00      1.00      1.00         4
        13.0       1.00      1.00      1.00         1
        14.0       1.00      1.00      1.00         5
        15.0       1.00      1.00      1.00        13

    accuracy                           1.00       112
   macro avg       1.00      1.00      1.00       112
weighted avg       1.00      1.00      1.00       112

# Applying on weather df

In [ ]:
weather=np.array(weather_df[['latitude', 'longitude']])
county_predict=knn_classifier.predict(weather)
weather = np.concatenate((weather, county_predict.reshape(county_predict.shape[0], 1)), axis=1)
weather=pd.DataFrame(weather, columns=['latitudee','longitudee','county'])
weather['county_name']=weather['county']
weather['county_name']=weather['county_name'].map(county_mapp)
weather_df=pd.concat([weather_df,weather],axis=1)
weather_df.drop(['latitudee','longitudee'],axis=1,inplace=True)

In [ ]:
X=[]
county_predict=[]
weather=[]
weather_df.to_csv('/content/drive/MyDrive/Dataset/energy data/forecast_weather_updated.csv', index=False)
weather_df=[]

# Applying on historical weather df

In [ ]:
hist_weather_df=pd.read_csv('/content/drive/MyDrive/Dataset/energy data/historical_weather.csv')
print(hist_weather_df.info(show_counts=True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1710802 entries, 0 to 1710801
Data columns (total 18 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   datetime                1710802 non-null  object
 1   temperature             1710802 non-null  float64
 2   dewpoint                1710802 non-null  float64
 3   rain                    1710802 non-null  float64
 4   snowfall                1710802 non-null  float64
 5   surface_pressure        1710802 non-null  float64
 6   cloudcover_total        1710802 non-null  int64
 7   cloudcover_low          1710802 non-null  int64
 8   cloudcover_mid          1710802 non-null  int64
 9   cloudcover_high         1710802 non-null  int64
 10  windspeed_10m           1710802 non-null  float64
 11  winddirection_10m       1710802 non-null  int64
 12  shortwave_radiation     1710802 non-null  float64
 13  direct_solar_radiation  1710802 non-null  float64
 14  diffuse_radiation       1710802 non-null  float64
 15  latitude                1710802 non-null  float64
 16  longitude               1710802 non-null  float64
 17  data_block_id           1710802 non-null  float64
dtypes: float64(12), int64(5), object(1)
memory usage: 234.9+ MB
None

In [ ]:
weather=np.array(hist_weather_df[['latitude', 'longitude']])
county_predict=knn_classifier.predict(weather)
weather = np.concatenate((weather, county_predict.reshape(county_predict.shape[0], 1)), axis=1)
weather=pd.DataFrame(weather, columns=['latitudee','longitudee','county'])
weather['county_name']=weather['county']
weather['county_name']=weather['county_name'].map(county_mapp)
hist_weather_df=pd.concat([hist_weather_df,weather],axis=1)
hist_weather_df.drop(['latitudee','longitudee'],axis=1,inplace=True)

In [ ]:
X=[]
county_predict=[]
weather=[]
hist_weather_df.to_csv('/content/drive/MyDrive/Dataset/energy data/historical_weather_updated.csv', index=False)
hist_weather_df=[]

# Next

In [ ]:
gas_price_df=pd.read_csv('/content/drive/MyDrive/Dataset/energy data/gas_prices.csv')
train_df=pd.read_csv('/content/drive/MyDrive/Dataset/energy data/train.csv')
client_df=pd.read_csv('/content/drive/MyDrive/Dataset/energy data/client.csv')
e_price_df=pd.read_csv('/content/drive/MyDrive/Dataset/energy data/electricity_prices.csv')

In [ ]:
print(gas_price_df.info(show_counts=True))
print(train_df.info(show_counts=True))
print(client_df.info(show_counts=True))
print(e_price_df.info(show_counts=True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 637 entries, 0 to 636
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   forecast_date          637 non-null    object
 1   lowest_price_per_mwh   637 non-null    float64
 2   highest_price_per_mwh  637 non-null    float64
 3   origin_date            637 non-null    object
 4   data_block_id          637 non-null    int64
dtypes: float64(2), int64(1), object(2)
memory usage: 25.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2018352 entries, 0 to 2018351
Data columns (total 9 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   county              2018352 non-null  int64
 1   is_business         2018352 non-null  int64
 2   product_type        2018352 non-null  int64
 3   target              2017824 non-null  float64
 4   is_consumption      2018352 non-null  int64
 5   datetime            2018352 non-null  object
 6   data_block_id       2018352 non-null  int64
 7   row_id              2018352 non-null  int64
 8   prediction_unit_id  2018352 non-null  int64
dtypes: float64(1), int64(7), object(1)
memory usage: 138.6+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41919 entries, 0 to 41918
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   product_type        41919 non-null  int64
 1   county              41919 non-null  int64
 2   eic_count           41919 non-null  int64
 3   installed_capacity  41919 non-null  float64
 4   is_business         41919 non-null  int64
 5   date                41919 non-null  object
 6   data_block_id       41919 non-null  int64
dtypes: float64(1), int64(5), object(1)
memory usage: 2.2+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15286 entries, 0 to 15285
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   forecast_date  15286 non-null  object
 1   euros_per_mwh  15286 non-null  float64
 2   origin_date    15286 non-null  object
 3   data_block_id  15286 non-null  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 477.8+ KB
None

In [ ]:
train_df=train_df.merge(client_df,on=['product_type','is_business','county','data_block_id'],how='left')
train_df.dropna(subset=['target'],inplace=True)
gas_price_df['data_block_id']=gas_price_df['data_block_id']-1
e_price_df['data_block_id']=e_price_df['data_block_id']-1
e_price_df['forecast_date']=pd.to_datetime(e_price_df['forecast_date'])
e_price_df['forecast_time']=e_price_df['forecast_date'].dt.time
e_price_df['forecast_date']=e_price_df['forecast_date'].dt.date
train_df=train_df.merge(gas_price_df, on='data_block_id',suffixes=['','_gas_'],how='left')
gas_price_df=[]
client_df=[]

In [ ]:
e_price_df.head(100)

,forecast_date,euros_per_mwh,origin_date,data_block_id,forecast_time
0,2021-09-01,92.51,2021-08-31 00:00:00,0,00:00:00
1,2021-09-01,88.90,2021-08-31 01:00:00,0,01:00:00
2,2021-09-01,87.35,2021-08-31 02:00:00,0,02:00:00
3,2021-09-01,86.88,2021-08-31 03:00:00,0,03:00:00
4,2021-09-01,88.43,2021-08-31 04:00:00,0,04:00:00
5,2021-09-01,93.58,2021-08-31 05:00:00,0,05:00:00
6,2021-09-01,118.70,2021-08-31 06:00:00,0,06:00:00
7,2021-09-01,135.44,2021-08-31 07:00:00,0,07:00:00
8,2021-09-01,140.72,2021-08-31 08:00:00,0,08:00:00
9,2021-09-01,130.00,2021-08-31 09:00:00,0,09:00:00
10,2021-09-01,116.99,2021-08-31 10:00:00,0,10:00:00
11,2021-09-01,109.75,2021-08-31 11:00:00,0,11:00:00
12,2021-09-01,103.88,2021-08-31 12:00:00,0,12:00:00
13,2021-09-01,98.00,2021-08-31 13:00:00,0,13:00:00
14,2021-09-01,94.98,2021-08-31 14:00:00,0,14:00:00
15,2021-09-01,95.06,2021-08-31 15:00:00,0,15:00:00
16,2021-09-01,97.61,2021-08-31 16:00:00,0,16:00:00
17,2021-09-01,116.12,2021-08-31 17:00:00,0,17:00:00
18,2021-09-01,131.00,2021-08-31 18:00:00,0,18:00:00
19,2021-09-01,145.91,2021-08-31 19:00:00,0,19:00:00
20,2021-09-01,144.93,2021-08-31 20:00:00,0,20:00:00
21,2021-09-01,125.76,2021-08-31 21:00:00,0,21:00:00
22,2021-09-01,114.39,2021-08-31 22:00:00,0,22:00:00
23,2021-09-01,94.32,2021-08-31 23:00:00,0,23:00:00
24,2021-09-02,96.99,2021-09-01 00:00:00,1,00:00:00
25,2021-09-02,94.77,2021-09-01 01:00:00,1,01:00:00
26,2021-09-02,93.88,2021-09-01 02:00:00,1,02:00:00
27,2021-09-02,92.25,2021-09-01 03:00:00,1,03:00:00
28,2021-09-02,91.83,2021-09-01 04:00:00,1,04:00:00
29,2021-09-02,98.62,2021-09-01 05:00:00,1,05:00:00
30,2021-09-02,128.94,2021-09-01 06:00:00,1,06:00:00
31,2021-09-02,150.00,2021-09-01 07:00:00,1,07:00:00
32,2021-09-02,146.38,2021-09-01 08:00:00,1,08:00:00
33,2021-09-02,130.80,2021-09-01 09:00:00,1,09:00:00
34,2021-09-02,118.92,2021-09-01 10:00:00,1,10:00:00
35,2021-09-02,113.00,2021-09-01 11:00:00,1,11:00:00
36,2021-09-02,107.84,2021-09-01 12:00:00,1,12:00:00
37,2021-09-02,100.99,2021-09-01 13:00:00,1,13:00:00
38,2021-09-02,97.97,2021-09-01 14:00:00,1,14:00:00
39,2021-09-02,105.05,2021-09-01 15:00:00,1,15:00:00
40,2021-09-02,112.44,2021-09-01 16:00:00,1,16:00:00
41,2021-09-02,122.66,2021-09-01 17:00:00,1,17:00:00
42,2021-09-02,138.00,2021-09-01 18:00:00,1,18:00:00
43,2021-09-02,158.51,2021-09-01 19:00:00,1,19:00:00
44,2021-09-02,133.88,2021-09-01 20:00:00,1,20:00:00
45,2021-09-02,87.47,2021-09-01 21:00:00,1,21:00:00
46,2021-09-02,87.45,2021-09-01 22:00:00,1,22:00:00
47,2021-09-02,94.51,2021-09-01 23:00:00,1,23:00:00
48,2021-09-03,86.20,2021-09-02 00:00:00,2,00:00:00
49,2021-09-03,86.15,2021-09-02 01:00:00,2,01:00:00
50,2021-09-03,86.11,2021-09-02 02:00:00,2,02:00:00
51,2021-09-03,81.98,2021-09-02 03:00:00,2,03:00:00
52,2021-09-03,86.18,2021-09-02 04:00:00,2,04:00:00
53,2021-09-03,91.39,2021-09-02 05:00:00,2,05:00:00
54,2021-09-03,122.46,2021-09-02 06:00:00,2,06:00:00
55,2021-09-03,136.00,2021-09-02 07:00:00,2,07:00:00
56,2021-09-03,134.70,2021-09-02 08:00:00,2,08:00:00
57,2021-09-03,123.13,2021-09-02 09:00:00,2,09:00:00
58,2021-09-03,109.03,2021-09-02 10:00:00,2,10:00:00
59,2021-09-03,99.02,2021-09-02 11:00:00,2,11:00:00
60,2021-09-03,89.62,2021-09-02 12:00:00,2,12:00:00
61,2021-09-03,88.48,2021-09-02 13:00:00,2,13:00:00
62,2021-09-03,88.39,2021-09-02 14:00:00,2,14:00:00
63,2021-09-03,89.92,2021-09-02 15:00:00,2,15:00:00
64,2021-09-03,92.32,2021-09-02 16:00:00,2,16:00:00
65,2021-09-03,119.01,2021-09-02 17:00:00,2,17:00:00
66,2021-09-03,131.57,2021-09-02 18:00:00,2,18:00:00
67,2021-09-03,143.93,2021-09-02 19:00:00,2,19:00:00
68,2021-09-03,143.38,2021-09-02 20:00:00,2,20:00:00
69,2021-09-03,129.94,2021-09-02 21:00:00,2,21:00:00
70,2021-09-03,120.96,2021-09-02 22:00:00,2,22:00:00
71,2021-09-03,98.44,2021-09-02 23:00:00,2,23:00:00
72,2021-09-04,111.41,2021-09-03 00:00:00,3,00:00:00
73,2021-09-04,99.36,2021-09-03 01:00:00,3,01:00:00
74,2021-09-04,97.37,2021-09-03 02:00:00,3,02:00:00
75,2021-09-04,95.48,2021-09-03 03:00:00,3,03:00:00
76,2021-09-04,94.20,2021-09-03 04:00:00,3,04:00:00
77,2021-09-04,96.07,2021-09-03 05:00:00,3,05:00:00
78,2021-09-04,103.80,2021-09-03 06:00:00,3,06:00:00
79,2021-09-04,120.98,2021-09-03 07:00:00,3,07:00:00
80,2021-09-04,122.00,2021-09-03 08:00:00,3,08:00:00
81,2021-09-04,115.99,2021-09-03 09:00:00,3,09:00:00
82,2021-09-04,95.66,2021-09-03 10:00:00,3,10:00:00
83,2021-09-04,89.47,2021-09-03 11:00:00,3,11:00:00
84,2021-09-04,89.51,2021-09-03 12:00:00,3,12:00:00
85,2021-09-04,87.06,2021-09-03 13:00:00,3,13:00:00
86,2021-09-04,84.16,2021-09-03 14:00:00,3,14:00:00
87,2021-09-04,86.46,2021-09-03 15:00:00,3,15:00:00
88,2021-09-04,89.27,2021-09-03 16:00:00,3,16:00:00
89,2021-09-04,107.54,2021-09-03 17:00:00,3,17:00:00
90,2021-09-04,127.33,2021-09-03 18:00:00,3,18:00:00
91,2021-09-04,142.55,2021-09-03 19:00:00,3,19:00:00
92,2021-09-04,142.40,2021-09-03 20:00:00,3,20:00:00
93,2021-09-04,127.92,2021-09-03 21:00:00,3,21:00:00
94,2021-09-04,122.00,2021-09-03 22:00:00,3,22:00:00
95,2021-09-04,98.72,2021-09-03 23:00:00,3,23:00:00
96,2021-09-05,95.61,2021-09-04 00:00:00,4,00:00:00
97,2021-09-05,90.68,2021-09-04 01:00:00,4,01:00:00
98,2021-09-05,90.86,2021-09-04 02:00:00,4,02:00:00
99,2021-09-05,90.32,2021-09-04 03:00:00,4,03:00:00

In [ ]:
train_df['datetime']=pd.to_datetime(train_df['datetime'])
train_df['date_target']=train_df['datetime'].dt.date
train_df['time_target']=train_df['datetime'].dt.time
train_df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2017824 entries, 0 to 2017823
Data columns (total 18 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   county                 2017824 non-null  int64
 1   is_business            2017824 non-null  int64
 2   product_type           2017824 non-null  int64
 3   target                 2017824 non-null  float64
 4   is_consumption         2017824 non-null  int64
 5   datetime               2017824 non-null  datetime64[ns]
 6   data_block_id          2017824 non-null  int64
 7   row_id                 2017824 non-null  int64
 8   prediction_unit_id     2017824 non-null  int64
 9   eic_count              2009184 non-null  float64
 10  installed_capacity     2009184 non-null  float64
 11  date                   2009184 non-null  object
 12  forecast_date          2014704 non-null  object
 13  lowest_price_per_mwh   2014704 non-null  float64
 14  highest_price_per_mwh  2014704 non-null  float64
 15  origin_date            2014704 non-null  object
 16  date_target            2017824 non-null  object
 17  time_target            2017824 non-null  object
dtypes: datetime64[ns](1), float64(5), int64(7), object(5)
memory usage: 292.5+ MB

In [ ]:
weather_forecast_df=pd.read_csv('/content/drive/MyDrive/Dataset/energy data/forecast_weather_updated.csv')
hist_weather_df=pd.read_csv('/content/drive/MyDrive/Dataset/energy data/historical_weather_updated.csv')
del weather_df

In [ ]:
print(weather_forecast_df.shape)
weather_forecast_df.info(show_counts=True)
weather_forecast_df.describe()
weather_forecast_df=weather_forecast_df.groupby(['origin_datetime','data_block_id','forecast_datetime','county','county_name'],as_index=False)['hours_ahead','temperature','dewpoint','cloudcover_high','cloudcover_low','cloudcover_mid','cloudcover_total',
                                                                                                                                                       '10_metre_u_wind_component','10_metre_v_wind_component','direct_solar_radiation','surface_solar_radiation_downwards',
                                                                                                                                                       'snowfall','total_precipitation'].mean()
weather_forecast_df['forecast_datetime']=pd.to_datetime(weather_forecast_df['forecast_datetime'])
weather_forecast_df['date']=weather_forecast_df['forecast_datetime'].dt.date
weather_forecast_df['time']=weather_forecast_df['forecast_datetime'].dt.time
weather_forecast_df.drop(['forecast_datetime'],axis=1,inplace=True)

(3424512, 20)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3424512 entries, 0 to 3424511
Data columns (total 20 columns):
 #   Column                             Non-Null Count    Dtype
---  ------                             --------------    -----
 0   latitude                           3424512 non-null  float64
 1   longitude                          3424512 non-null  float64
 2   origin_datetime                    3424512 non-null  object
 3   hours_ahead                        3424512 non-null  int64
 4   temperature                        3424512 non-null  float64
 5   dewpoint                           3424512 non-null  float64
 6   cloudcover_high                    3424512 non-null  float64
 7   cloudcover_low                     3424512 non-null  float64
 8   cloudcover_mid                     3424512 non-null  float64
 9   cloudcover_total                   3424512 non-null  float64
 10  10_metre_u_wind_component          3424512 non-null  float64
 11  10_metre_v_wind_component          3424512 non-null  float64
 12  data_block_id                      3424512 non-null  int64
 13  forecast_datetime                  3424512 non-null  object
 14  direct_solar_radiation             3424512 non-null  float64
 15  surface_solar_radiation_downwards  3424510 non-null  float64
 16  snowfall                           3424512 non-null  float64
 17  total_precipitation                3424512 non-null  float64
 18  county                             3424512 non-null  float64
 19  county_name                        3424512 non-null  object
dtypes: float64(15), int64(2), object(3)
memory usage: 522.5+ MB

<ipython-input-13-de07d7a4de6e>:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  weather_forecast_df=weather_forecast_df.groupby(['origin_datetime','data_block_id','forecast_datetime','county','county_name'],as_index=False)['hours_ahead','temperature','dewpoint','cloudcover_high','cloudcover_low','cloudcover_mid','cloudcover_total',

In [ ]:
print(hist_weather_df.shape)
hist_weather_df.info(show_counts=True)
hist_weather_df.describe()
hist_weather_df=hist_weather_df.groupby(['datetime','data_block_id','county','county_name'],as_index=False)['rain','temperature','dewpoint','surface_pressure','cloudcover_high','cloudcover_low','cloudcover_mid','cloudcover_total',
                                                                                                                                                       'windspeed_10m','winddirection_10m','shortwave_radiation','direct_solar_radiation','diffuse_radiation',
                                                                                                                                                       'snowfall'].mean()
hist_weather_df['datetime']=pd.to_datetime(hist_weather_df['datetime'])
hist_weather_df['date']=hist_weather_df['datetime'].dt.date
hist_weather_df['time']=hist_weather_df['datetime'].dt.time
hist_weather_df.drop(['datetime'],axis=1,inplace=True)
hist_weather_df.shape

(1710802, 20)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1710802 entries, 0 to 1710801
Data columns (total 20 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   datetime                1710802 non-null  object
 1   temperature             1710802 non-null  float64
 2   dewpoint                1710802 non-null  float64
 3   rain                    1710802 non-null  float64
 4   snowfall                1710802 non-null  float64
 5   surface_pressure        1710802 non-null  float64
 6   cloudcover_total        1710802 non-null  int64
 7   cloudcover_low          1710802 non-null  int64
 8   cloudcover_mid          1710802 non-null  int64
 9   cloudcover_high         1710802 non-null  int64
 10  windspeed_10m           1710802 non-null  float64
 11  winddirection_10m       1710802 non-null  int64
 12  shortwave_radiation     1710802 non-null  float64
 13  direct_solar_radiation  1710802 non-null  float64
 14  diffuse_radiation       1710802 non-null  float64
 15  latitude                1710802 non-null  float64
 16  longitude               1710802 non-null  float64
 17  data_block_id           1710802 non-null  float64
 18  county                  1710802 non-null  float64
 19  county_name             1710802 non-null  object
dtypes: float64(13), int64(5), object(2)
memory usage: 261.0+ MB

<ipython-input-14-1348ede2cc62>:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  hist_weather_df=hist_weather_df.groupby(['datetime','data_block_id','county','county_name'],as_index=False)['rain','temperature','dewpoint','surface_pressure','cloudcover_high','cloudcover_low','cloudcover_mid','cloudcover_total',

(229125, 19)

In [ ]:
train_df.dropna(subset=['eic_count','installed_capacity','date','forecast_date','lowest_price_per_mwh','highest_price_per_mwh','origin_date'],inplace=True)

In [ ]:
print(train_df.info(show_counts=True))
print(e_price_df.info(show_counts=True))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2006064 entries, 5856 to 2014703
Data columns (total 18 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   county                 2006064 non-null  int64
 1   is_business            2006064 non-null  int64
 2   product_type           2006064 non-null  int64
 3   target                 2006064 non-null  float64
 4   is_consumption         2006064 non-null  int64
 5   datetime               2006064 non-null  datetime64[ns]
 6   data_block_id          2006064 non-null  int64
 7   row_id                 2006064 non-null  int64
 8   prediction_unit_id     2006064 non-null  int64
 9   eic_count              2006064 non-null  float64
 10  installed_capacity     2006064 non-null  float64
 11  date                   2006064 non-null  object
 12  forecast_date          2006064 non-null  object
 13  lowest_price_per_mwh   2006064 non-null  float64
 14  highest_price_per_mwh  2006064 non-null  float64
 15  origin_date            2006064 non-null  object
 16  date_target            2006064 non-null  object
 17  time_target            2006064 non-null  object
dtypes: datetime64[ns](1), float64(5), int64(7), object(5)
memory usage: 290.8+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15286 entries, 0 to 15285
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   forecast_date  15286 non-null  object
 1   euros_per_mwh  15286 non-null  float64
 2   origin_date    15286 non-null  object
 3   data_block_id  15286 non-null  int64
 4   forecast_time  15286 non-null  object
dtypes: float64(1), int64(1), object(3)
memory usage: 597.2+ KB
None

In [ ]:
scalerforecast=StandardScaler()
scalerhist=StandardScaler()
hist=['rain', 'temperature', 'dewpoint', 'surface_pressure','cloudcover_high', 'cloudcover_low', 'cloudcover_mid','cloudcover_total', 'windspeed_10m', 'winddirection_10m','shortwave_radiation', 'direct_solar_radiation', 'diffuse_radiation','snowfall']
forecast=['hours_ahead','temperature', 'dewpoint', 'cloudcover_high', 'cloudcover_low','cloudcover_mid', 'cloudcover_total', '10_metre_u_wind_component','10_metre_v_wind_component','direct_solar_radiation','surface_solar_radiation_downwards', 'snowfall', 'total_precipitation']
weather_forecast_df[forecast]=scalerforecast.fit_transform(weather_forecast_df[forecast])
hist_weather_df[hist]=scalerhist.fit_transform(hist_weather_df[hist])

In [ ]:
weather_forecast_df['data_block_id']=weather_forecast_df['data_block_id']+1
hist_weather_df['data_block_id']=hist_weather_df['data_block_id']-1

# TESTING HERE

In [ ]:
checking_n_unique=train_df[['county','is_business','product_type','is_consumption']].drop_duplicates()
empt = []
for index, row in checking_n_unique.iterrows():
  filtered_df = train_df[
      (train_df['county'] == row['county']) &  # Use bitwise AND (&) for filtering
      (train_df['is_business'] == row['is_business']) &
      (train_df['product_type'] == row['product_type']) &
      (train_df['is_consumption'] == row['is_consumption'])
  ]
  empt.append(filtered_df)
del train_df

In [ ]:
len(empt[0].shape)

2

# DONE TESTING

In [ ]:
timelist=np.sort(train_df['datetime'].unique())
print(timelist)

['2021-09-03T00:00:00.000000000' '2021-09-03T01:00:00.000000000'
 '2021-09-03T02:00:00.000000000' ... '2023-05-30T21:00:00.000000000'
 '2023-05-30T22:00:00.000000000' '2023-05-30T23:00:00.000000000']

In [ ]:
subset_train=empt[0]
subset_elec=e_price_df[e_price_df['data_block_id'].isin(list(subset_train['data_block_id'].unique()))]
subset_hist=hist_weather_df[hist_weather_df['data_block_id'].isin(list(subset_train['data_block_id'].unique()))]
subset_forecast=weather_forecast_df[weather_forecast_df['data_block_id'].isin(list(subset_train['data_block_id'].unique()))]
subset_train=subset_train.merge(e_price_df, left_on=['data_block_id','time_target'],right_on=['data_block_id','forecast_time'], how='left', suffixes=['_gas_','_e_'])
subset_forecast=subset_forecast.merge(subset_hist, left_on=['data_block_id','county','date','time'],right_on=['data_block_id','county','date','time'], how='outer',suffixes=['_wforecast_','_whist_'])
subset_train=subset_train.merge(subset_forecast, left_on=['data_block_id','county','date_target','time_target'],right_on=['data_block_id','county','date','time'], how='left',suffixes=['_train_',''])

In [ ]:
to_drop=['data_block_id','row_id','prediction_unit_id','county_name_whist_','county_name_wforecast_','datetime','forecast_date_gas_','forecast_date_e_','forecast_time','date','time']
subset_train.drop(to_drop,axis=1,inplace=True)
subset_train.rename(columns={'date_train_':'client_entry_date'},inplace=True)

In [ ]:
subset_train.select_dtypes(exclude=['int', 'float']).info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15236 entries, 0 to 15235
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   client_entry_date  15236 non-null  object
 1   origin_date_gas_   15236 non-null  object
 2   date_target        15236 non-null  object
 3   time_target        15236 non-null  object
 4   origin_date_e_     15234 non-null  object
 5   origin_datetime    1611 non-null   object
dtypes: object(6)
memory usage: 833.2+ KB

In [ ]:
subset_train['date_target']=pd.to_datetime(subset_train['date_target'].astype(str) + ' ' + subset_train['time_target'].astype(str))
subset_train.drop(['time_target'],inplace=True,axis=1)
for i in list(subset_train.select_dtypes(exclude=['int', 'float']).columns):
  subset_train[i]=pd.to_datetime(subset_train[i].astype(str))

subset_train['target_year']=subset_train['date_target'].dt.year
subset_train['target_month']=subset_train['date_target'].dt.month
subset_train['target_day']=subset_train['date_target'].dt.day
subset_train['target_hour']=subset_train['date_target'].dt.hour
subset_train['target_day_of_week']=subset_train['date_target'].dt.dayofweek

subset_train['forecast_year']=subset_train['origin_datetime'].dt.year
subset_train['forecast_month']=subset_train['origin_datetime'].dt.month
subset_train['forecast_day']=subset_train['origin_datetime'].dt.day
subset_train['forecast_hour']=subset_train['origin_datetime'].dt.hour

subset_train['e_price_year']=subset_train['origin_date_e_'].dt.year
subset_train['e_price_month']=subset_train['origin_date_e_'].dt.month
subset_train['e_price_day']=subset_train['origin_date_e_'].dt.day
subset_train['e_price_hour']=subset_train['origin_date_e_'].dt.hour
subset_train['e_price_day_of_week']=subset_train['origin_date_e_'].dt.dayofweek

subset_train['gas_price_year']=subset_train['origin_date_gas_'].dt.year
subset_train['gas_price_month']=subset_train['origin_date_gas_'].dt.month
subset_train['gas_price_day']=subset_train['origin_date_gas_'].dt.day
subset_train['gas_price_day_of_week']=subset_train['origin_date_gas_'].dt.dayofweek

subset_train.drop(['client_entry_date',"origin_date_gas_",	'date_target',	'origin_date_e_',	'origin_datetime'],axis=1,inplace=True)
subset_train.fillna(-1000,inplace=True)

In [ ]:
subset_train.sort_values(['target_year','target_month','target_day','target_hour'])

In [ ]:
checking=subset_train[['county','is_business','product_type','is_consumption']]
checking=checking.drop_duplicates(['county','is_business','product_type','is_consumption'])
checking

   county  is_business  product_type  is_consumption
0       0            0             1               0

In [ ]:
subset_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15236 entries, 0 to 15235
Data columns (total 55 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   county                             15236 non-null  int64
 1   is_business                        15236 non-null  int64
 2   product_type                       15236 non-null  int64
 3   target                             15236 non-null  float64
 4   is_consumption                     15236 non-null  int64
 5   eic_count                          15236 non-null  float64
 6   installed_capacity                 15236 non-null  float64
 7   lowest_price_per_mwh               15236 non-null  float64
 8   highest_price_per_mwh              15236 non-null  float64
 9   euros_per_mwh                      15236 non-null  float64
 10  hours_ahead                        15236 non-null  float64
 11  temperature_wforecast_             15236 non-null  float64
 12  dewpoint_wforecast_                15236 non-null  float64
 13  cloudcover_high_wforecast_         15236 non-null  float64
 14  cloudcover_low_wforecast_          15236 non-null  float64
 15  cloudcover_mid_wforecast_          15236 non-null  float64
 16  cloudcover_total_wforecast_        15236 non-null  float64
 17  10_metre_u_wind_component          15236 non-null  float64
 18  10_metre_v_wind_component          15236 non-null  float64
 19  direct_solar_radiation_wforecast_  15236 non-null  float64
 20  surface_solar_radiation_downwards  15236 non-null  float64
 21  snowfall_wforecast_                15236 non-null  float64
 22  total_precipitation                15236 non-null  float64
 23  rain                               15236 non-null  float64
 24  temperature_whist_                 15236 non-null  float64
 25  dewpoint_whist_                    15236 non-null  float64
 26  surface_pressure                   15236 non-null  float64
 27  cloudcover_high_whist_             15236 non-null  float64
 28  cloudcover_low_whist_              15236 non-null  float64
 29  cloudcover_mid_whist_              15236 non-null  float64
 30  cloudcover_total_whist_            15236 non-null  float64
 31  windspeed_10m                      15236 non-null  float64
 32  winddirection_10m                  15236 non-null  float64
 33  shortwave_radiation                15236 non-null  float64
 34  direct_solar_radiation_whist_      15236 non-null  float64
 35  diffuse_radiation                  15236 non-null  float64
 36  snowfall_whist_                    15236 non-null  float64
 37  target_year                        15236 non-null  int64
 38  target_month                       15236 non-null  int64
 39  target_day                         15236 non-null  int64
 40  target_hour                        15236 non-null  int64
 41  target_day_of_week                 15236 non-null  int64
 42  forecast_year                      15236 non-null  float64
 43  forecast_month                     15236 non-null  float64
 44  forecast_day                       15236 non-null  float64
 45  forecast_hour                      15236 non-null  float64
 46  e_price_year                       15236 non-null  float64
 47  e_price_month                      15236 non-null  float64
 48  e_price_day                        15236 non-null  float64
 49  e_price_hour                       15236 non-null  float64
 50  e_price_day_of_week                15236 non-null  float64
 51  gas_price_year                     15236 non-null  int64
 52  gas_price_month                    15236 non-null  int64
 53  gas_price_day                      15236 non-null  int64
 54  gas_price_day_of_week              15236 non-null  int64
dtypes: float64(42), int64(13)
memory usage: 6.5 MB

In [ ]:
len(empt[42])

14444

In [ ]:
# Function to create and merge datasets on runtime
def generate_and_merge_data(val):
    # Generate data for each table
    global empt
    global e_price_df
    global weather_forecast_df
    global hist_weather_df
    c=0
    if val==9:
      e=len(empt)
    else:
      e=(val+1)*16
    for i in range(val*16,e):
      subset_train=empt[i]
      subset_elec=e_price_df[e_price_df['data_block_id'].isin(list(subset_train['data_block_id'].unique()))]
      subset_hist=hist_weather_df[hist_weather_df['data_block_id'].isin(list(subset_train['data_block_id'].unique()))]
      subset_forecast=weather_forecast_df[weather_forecast_df['data_block_id'].isin(list(subset_train['data_block_id'].unique()))]
      subset_train=subset_train.merge(e_price_df, left_on=['data_block_id','time_target'],right_on=['data_block_id','forecast_time'], how='left', suffixes=['_gas_','_e_'])
      subset_forecast=subset_forecast.merge(subset_hist, left_on=['data_block_id','county','date','time'],right_on=['data_block_id','county','date','time'], how='outer',suffixes=['_wforecast_','_whist_'])
      subset_train=subset_train.merge(subset_forecast, left_on=['data_block_id','county','date_target','time_target'],right_on=['data_block_id','county','date','time'], how='left',suffixes=['_train_',''])

      to_drop=['data_block_id','row_id','prediction_unit_id','county_name_whist_','county_name_wforecast_','datetime','forecast_date_gas_','forecast_date_e_','forecast_time','date','time']
      subset_train.drop(to_drop,axis=1,inplace=True)
      subset_train.rename(columns={'date_train_':'client_entry_date'},inplace=True)

      subset_train['date_target']=pd.to_datetime(subset_train['date_target'].astype(str) + ' ' + subset_train['time_target'].astype(str))
      subset_train.drop(['time_target'],inplace=True,axis=1)
      for j in list(subset_train.select_dtypes(exclude=['int', 'float']).columns):
        subset_train[j]=pd.to_datetime(subset_train[j].astype(str))

      subset_train['target_year']=subset_train['date_target'].dt.year
      subset_train['target_month']=subset_train['date_target'].dt.month
      subset_train['target_day']=subset_train['date_target'].dt.day
      subset_train['target_hour']=subset_train['date_target'].dt.hour
      subset_train['target_day_of_week']=subset_train['date_target'].dt.dayofweek

      subset_train['forecast_year']=subset_train['origin_datetime'].dt.year
      subset_train['forecast_month']=subset_train['origin_datetime'].dt.month
      subset_train['forecast_day']=subset_train['origin_datetime'].dt.day
      subset_train['forecast_hour']=subset_train['origin_datetime'].dt.hour

      subset_train['e_price_year']=subset_train['origin_date_e_'].dt.year
      subset_train['e_price_month']=subset_train['origin_date_e_'].dt.month
      subset_train['e_price_day']=subset_train['origin_date_e_'].dt.day
      subset_train['e_price_hour']=subset_train['origin_date_e_'].dt.hour
      subset_train['e_price_day_of_week']=subset_train['origin_date_e_'].dt.dayofweek

      subset_train['gas_price_year']=subset_train['origin_date_gas_'].dt.year
      subset_train['gas_price_month']=subset_train['origin_date_gas_'].dt.month
      subset_train['gas_price_day']=subset_train['origin_date_gas_'].dt.day
      subset_train['gas_price_day_of_week']=subset_train['origin_date_gas_'].dt.dayofweek

      subset_train.drop(['client_entry_date',"origin_date_gas_",	'date_target',	'origin_date_e_',	'origin_datetime'],axis=1,inplace=True)
      subset_train.fillna(-1000,inplace=True)

      # Prepare input features and target variable
      X_sub = np.array(subset_train.drop('target',axis=1))
      y_sub = np.array(subset_train[['target']])  # Adjust with your target variable name
      pad_width = ((0, 15236-X_sub.shape[0]),(0,0))  # Calculate the difference in time steps (15236 - 14444)
      X_sub = np.pad(X_sub, pad_width=pad_width, mode='constant', constant_values=-1)
      y_sub = np.pad(y_sub, pad_width=pad_width, mode='constant', constant_values=-1)
      X_sub = np.reshape(X_sub, (1, X_sub.shape[0], X_sub.shape[1]))
      y_sub = np.reshape(y_sub, (1, y_sub.shape[0], y_sub.shape[1]))  # Reshape to 3D
      if c==0:
        X=X_sub
        y=y_sub
        c=1
      else:
        X = np.append(X, X_sub, axis=0)
        y = np.append(y, y_sub, axis=0)
    return X,y

In [ ]:
import tensorflow as tf
class SaveWeightsCallback(tf.keras.callbacks.Callback):
  def on_epoch_end(self, epoch, logs=None):
    model.save_weights("/content/drive/MyDrive/Dataset/energy data/model_weights.h5")  # Replace with your save path

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Conv1D, Dropout, Reshape
# Define your model architecture here (replace with your code)
model = Sequential([
    Conv1D(filters=48, kernel_size=1, dilation_rate=2, strides=1,activation='relu',input_shape=[15236,54]),
    Conv1D(filters=40, kernel_size=1, dilation_rate=2, strides=1,activation='relu'),
    #Reshape((15236, 64), input_shape=(None, 15236, 64)),
    LSTM(512, return_sequences=True),
    LSTM(256, return_sequences=True),
    Dropout(0.3),
    Conv1D(filters=32, kernel_size=1, dilation_rate=2, strides=1,activation='relu'),
    LSTM(128, return_sequences=True),
    Dense(64,activation='relu'),
    Dense(32, activation='relu'),
    Dense(1)
])

# Compile the model once (outside the loop)
model.compile(optimizer='adam', loss='mean_squared_error', metrics=['accuracy'])  # Adjust optimizer, loss, and metrics as needed

In [ ]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv1d (Conv1D)             (None, 15236, 48)         2640

 conv1d_1 (Conv1D)           (None, 15236, 40)         1960

 lstm (LSTM)                 (None, 15236, 512)        1132544

 lstm_1 (LSTM)               (None, 15236, 256)        787456

 dropout (Dropout)           (None, 15236, 256)        0

 conv1d_2 (Conv1D)           (None, 15236, 32)         8224

 lstm_2 (LSTM)               (None, 15236, 128)        82432

 dense (Dense)               (None, 15236, 64)         8256

 dense_1 (Dense)             (None, 15236, 32)         2080

 dense_2 (Dense)             (None, 15236, 1)          33

=================================================================
Total params: 2025625 (7.73 MB)
Trainable params: 2025625 (7.73 MB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [ ]:
for loop_index in range(10):
  X_train,y_train=generate_and_merge_data(loop_index)
  # Load weights from the previous iteration (or initial weights for the first loop)
  if loop_index > 0:
    weight_path = f"/content/drive/MyDrive/weights_{loop_index-1}.h5"  # Adjust path format
    model.load_weights(weight_path)

  # Train the model by continuing from the loaded weights
  model.fit(X_train, y_train, epochs=30)  # Adjust epochs_per_loop

  # Save weights for this iteration
  save_path = f"/content/drive/MyDrive/weights_{loop_index}.h5"  # Adjust path format
  model.save_weights(save_path)

Epoch 1/30
1/1 [==============================] - 14s 14s/step - loss: 5032345.5000 - accuracy: 0.1464
Epoch 2/30
1/1 [==============================] - 3s 3s/step - loss: 5031766.5000 - accuracy: 0.1464
Epoch 3/30
1/1 [==============================] - 3s 3s/step - loss: 5030868.5000 - accuracy: 3.4868e-04
Epoch 4/30
1/1 [==============================] - 3s 3s/step - loss: 5029891.0000 - accuracy: 3.1176e-04
Epoch 5/30
1/1 [==============================] - 3s 3s/step - loss: 5028955.0000 - accuracy: 2.8715e-04
Epoch 6/30
1/1 [==============================] - 3s 3s/step - loss: 5028052.5000 - accuracy: 2.7484e-04
Epoch 7/30
1/1 [==============================] - 3s 3s/step - loss: 5027171.5000 - accuracy: 2.6254e-04
Epoch 8/30
1/1 [==============================] - 3s 3s/step - loss: 5026275.0000 - accuracy: 2.6254e-04
Epoch 9/30
1/1 [==============================] - 3s 3s/step - loss: 5025305.0000 - accuracy: 2.6254e-04
Epoch 10/30
1/1 [==============================] - 3s 3s/step - loss: 5024256.5000 - accuracy: 2.4613e-04
Epoch 11/30
1/1 [==============================] - 3s 3s/step - loss: 5023120.5000 - accuracy: 2.4613e-04
Epoch 12/30
1/1 [==============================] - 3s 3s/step - loss: 5021887.5000 - accuracy: 2.4613e-04
Epoch 13/30
1/1 [==============================] - 3s 3s/step - loss: 5020546.0000 - accuracy: 2.4613e-04
Epoch 14/30
1/1 [==============================] - 3s 3s/step - loss: 5019111.0000 - accuracy: 2.4613e-04
Epoch 15/30
1/1 [==============================] - 3s 3s/step - loss: 5017584.0000 - accuracy: 2.4613e-04
Epoch 16/30
1/1 [==============================] - 3s 3s/step - loss: 5015979.5000 - accuracy: 2.4613e-04
Epoch 17/30
1/1 [==============================] - 3s 3s/step - loss: 5014319.5000 - accuracy: 2.4613e-04
Epoch 18/30
1/1 [==============================] - 3s 3s/step - loss: 5012588.0000 - accuracy: 2.4613e-04
Epoch 19/30
1/1 [==============================] - 3s 3s/step - loss: 5010793.0000 - accuracy: 2.4613e-04
Epoch 20/30
1/1 [==============================] - 3s 3s/step - loss: 5008937.5000 - accuracy: 2.4613e-04
Epoch 21/30
1/1 [==============================] - 3s 3s/step - loss: 5007032.0000 - accuracy: 2.4613e-04
Epoch 22/30
1/1 [==============================] - 3s 3s/step - loss: 5005075.5000 - accuracy: 2.4613e-04
Epoch 23/30
1/1 [==============================] - 3s 3s/step - loss: 5003064.5000 - accuracy: 2.4613e-04
Epoch 24/30
1/1 [==============================] - 3s 3s/step - loss: 5000996.5000 - accuracy: 2.4613e-04
Epoch 25/30
1/1 [==============================] - 3s 3s/step - loss: 4998860.0000 - accuracy: 2.4613e-04
Epoch 26/30
1/1 [==============================] - 3s 3s/step - loss: 4996660.5000 - accuracy: 2.4613e-04
Epoch 27/30
1/1 [==============================] - 3s 3s/step - loss: 4994399.0000 - accuracy: 2.4613e-04
Epoch 28/30
1/1 [==============================] - 3s 3s/step - loss: 4992074.5000 - accuracy: 2.4613e-04
Epoch 29/30
1/1 [==============================] - 3s 3s/step - loss: 4989677.5000 - accuracy: 2.4613e-04
Epoch 30/30
1/1 [==============================] - 3s 3s/step - loss: 4987203.5000 - accuracy: 2.4613e-04
Epoch 1/30
1/1 [==============================] - 3s 3s/step - loss: 119585.9062 - accuracy: 6.1532e-05
Epoch 2/30
1/1 [==============================] - 3s 3s/step - loss: 119231.3984 - accuracy: 6.1532e-05
Epoch 3/30
1/1 [==============================] - 3s 3s/step - loss: 118896.3750 - accuracy: 6.1532e-05
Epoch 4/30
1/1 [==============================] - 3s 3s/step - loss: 118579.0547 - accuracy: 6.1532e-05
Epoch 5/30
1/1 [==============================] - 3s 3s/step - loss: 118278.0000 - accuracy: 6.1532e-05
Epoch 6/30
1/1 [==============================] - 3s 3s/step - loss: 117991.7969 - accuracy: 6.1532e-05
Epoch 7/30
1/1 [==============================] - 3s 3s/step - loss: 117719.1172 - accuracy: 6.1532e-05
Epoch 8/30
1/1 [==============================] - 3s 3s/step - loss: 117458.8125 - accuracy: 6.1532e-05
Epoch 9/30
1/1 [==============================] - 3s 3s/step - loss: 117209.7891 - accuracy: 6.1532e-05
Epoch 10/30
1/1 [==============================] - 3s 3s/step - loss: 116970.9922 - accuracy: 6.1532e-05
Epoch 11/30
1/1 [==============================] - 3s 3s/step - loss: 116741.2422 - accuracy: 6.1532e-05
Epoch 12/30
1/1 [==============================] - 3s 3s/step - loss: 116519.6797 - accuracy: 6.1532e-05
Epoch 13/30
1/1 [==============================] - 3s 3s/step - loss: 116305.2578 - accuracy: 6.1532e-05
Epoch 14/30
1/1 [==============================] - 3s 3s/step - loss: 116097.1562 - accuracy: 6.1532e-05
Epoch 15/30
1/1 [==============================] - 3s 3s/step - loss: 115894.6406 - accuracy: 6.1532e-05
Epoch 16/30
1/1 [==============================] - 3s 3s/step - loss: 115696.9141 - accuracy: 6.1532e-05
Epoch 17/30
1/1 [==============================] - 3s 3s/step - loss: 115503.3359 - accuracy: 6.1532e-05
Epoch 18/30
1/1 [==============================] - 3s 3s/step - loss: 115313.1484 - accuracy: 6.1532e-05
Epoch 19/30
1/1 [==============================] - 3s 3s/step - loss: 115125.8359 - accuracy: 6.1532e-05
Epoch 20/30
1/1 [==============================] - 3s 3s/step - loss: 114940.8125 - accuracy: 6.1532e-05
Epoch 21/30
1/1 [==============================] - 3s 3s/step - loss: 114757.8203 - accuracy: 6.1532e-05
Epoch 22/30
1/1 [==============================] - 3s 3s/step - loss: 114576.5703 - accuracy: 6.1532e-05
Epoch 23/30
1/1 [==============================] - 3s 3s/step - loss: 114397.0312 - accuracy: 6.1532e-05
Epoch 24/30
1/1 [==============================] - 3s 3s/step - loss: 114219.1641 - accuracy: 6.1532e-05
Epoch 25/30
1/1 [==============================] - 3s 3s/step - loss: 114042.8438 - accuracy: 6.1532e-05
Epoch 26/30
1/1 [==============================] - 3s 3s/step - loss: 113868.1484 - accuracy: 6.1532e-05
Epoch 27/30
1/1 [==============================] - 3s 3s/step - loss: 113693.8672 - accuracy: 6.1532e-05
Epoch 28/30
1/1 [==============================] - 3s 3s/step - loss: 113520.4062 - accuracy: 6.1532e-05
Epoch 29/30
1/1 [==============================] - 3s 3s/step - loss: 113347.4141 - accuracy: 6.1532e-05
Epoch 30/30
1/1 [==============================] - 3s 3s/step - loss: 113174.6484 - accuracy: 6.1532e-05
Epoch 1/30
1/1 [==============================] - 3s 3s/step - loss: 157627.5781 - accuracy: 2.2151e-04
Epoch 2/30
1/1 [==============================] - 3s 3s/step - loss: 157266.8125 - accuracy: 2.2151e-04
Epoch 3/30
1/1 [==============================] - 3s 3s/step - loss: 156880.7500 - accuracy: 2.2151e-04
Epoch 4/30
1/1 [==============================] - 3s 3s/step - loss: 156467.8281 - accuracy: 2.2151e-04
Epoch 5/30
1/1 [==============================] - 3s 3s/step - loss: 156035.5000 - accuracy: 2.2151e-04
Epoch 6/30
1/1 [==============================] - 3s 3s/step - loss: 155581.9688 - accuracy: 2.2151e-04
Epoch 7/30
1/1 [==============================] - 3s 3s/step - loss: 155108.4219 - accuracy: 2.2151e-04
Epoch 8/30
1/1 [==============================] - 3s 3s/step - loss: 154616.2812 - accuracy: 2.2151e-04
Epoch 9/30
1/1 [==============================] - 3s 3s/step - loss: 154105.6875 - accuracy: 2.2151e-04
Epoch 10/30
1/1 [==============================] - 3s 3s/step - loss: 153577.5781 - accuracy: 2.2151e-04
Epoch 11/30
1/1 [==============================] - 3s 3s/step - loss: 153035.1719 - accuracy: 2.2151e-04
Epoch 12/30
1/1 [==============================] - 3s 3s/step - loss: 152468.7969 - accuracy: 2.2151e-04
Epoch 13/30
1/1 [==============================] - 3s 3s/step - loss: 151900.5312 - accuracy: 2.2151e-04
Epoch 14/30
1/1 [==============================] - 3s 3s/step - loss: 151322.0781 - accuracy: 2.2151e-04
Epoch 15/30
1/1 [==============================] - 3s 3s/step - loss: 150733.8438 - accuracy: 2.2151e-04
Epoch 16/30
1/1 [==============================] - 3s 3s/step - loss: 150137.0781 - accuracy: 2.2151e-04
Epoch 17/30
1/1 [==============================] - 3s 3s/step - loss: 149532.9688 - accuracy: 2.2151e-04
Epoch 18/30
1/1 [==============================] - 3s 3s/step - loss: 148922.3438 - accuracy: 2.2151e-04
Epoch 19/30
1/1 [==============================] - 3s 3s/step - loss: 148306.6562 - accuracy: 2.2151e-04
Epoch 20/30
1/1 [==============================] - 3s 3s/step - loss: 147686.6719 - accuracy: 2.2151e-04
Epoch 21/30
1/1 [==============================] - 3s 3s/step - loss: 147063.7969 - accuracy: 2.2151e-04
Epoch 22/30
1/1 [==============================] - 3s 3s/step - loss: 146438.9844 - accuracy: 2.2151e-04
Epoch 23/30
1/1 [==============================] - 3s 3s/step - loss: 145813.6562 - accuracy: 2.2151e-04
Epoch 24/30
1/1 [==============================] - 3s 3s/step - loss: 145188.9375 - accuracy: 2.2151e-04
Epoch 25/30
1/1 [==============================] - 3s 3s/step - loss: 144566.0000 - accuracy: 2.2151e-04
Epoch 26/30
1/1 [==============================] - 3s 3s/step - loss: 143945.8906 - accuracy: 2.2151e-04
Epoch 27/30
1/1 [==============================] - 3s 3s/step - loss: 143329.8594 - accuracy: 2.2151e-04
Epoch 28/30
1/1 [==============================] - 3s 3s/step - loss: 142718.7344 - accuracy: 2.2151e-04
Epoch 29/30
1/1 [==============================] - 3s 3s/step - loss: 142113.1875 - accuracy: 2.2151e-04
Epoch 30/30
1/1 [==============================] - 3s 3s/step - loss: 141514.3594 - accuracy: 2.2151e-04
Epoch 1/30
1/1 [==============================] - 3s 3s/step - loss: 77758.6250 - accuracy: 1.4768e-04
Epoch 2/30
1/1 [==============================] - 3s 3s/step - loss: 77552.6484 - accuracy: 1.4768e-04
Epoch 3/30
1/1 [==============================] - 3s 3s/step - loss: 77370.3047 - accuracy: 1.4768e-04
Epoch 4/30
1/1 [==============================] - 3s 3s/step - loss: 76685.5938 - accuracy: 1.4768e-04
Epoch 5/30
1/1 [==============================] - 3s 3s/step - loss: 102652.7266 - accuracy: 0.1742
Epoch 6/30
1/1 [==============================] - 3s 3s/step - loss: 102642.2422 - accuracy: 0.1744
Epoch 7/30
1/1 [==============================] - 3s 3s/step - loss: 102607.9922 - accuracy: 0.1744
Epoch 8/30
1/1 [==============================] - 3s 3s/step - loss: 102563.5625 - accuracy: 0.1745
Epoch 9/30
1/1 [==============================] - 3s 3s/step - loss: 102532.3672 - accuracy: 0.1745
Epoch 10/30
1/1 [==============================] - 3s 3s/step - loss: 102486.7656 - accuracy: 0.0071
Epoch 11/30
1/1 [==============================] - 3s 3s/step - loss: 102437.9375 - accuracy: 1.4768e-04
Epoch 12/30
1/1 [==============================] - 3s 3s/step - loss: 102371.5703 - accuracy: 1.4768e-04
Epoch 13/30
1/1 [==============================] - 3s 3s/step - loss: 102248.9453 - accuracy: 1.4768e-04
Epoch 14/30
1/1 [==============================] - 3s 3s/step - loss: 102009.0938 - accuracy: 1.4768e-04
Epoch 15/30
1/1 [==============================] - 3s 3s/step - loss: 100639.5547 - accuracy: 1.4768e-04
Epoch 16/30
1/1 [==============================] - 3s 3s/step - loss: 94021.6719 - accuracy: 1.4768e-04
Epoch 17/30
1/1 [==============================] - 3s 3s/step - loss: 86040.8203 - accuracy: 1.4768e-04
Epoch 18/30
1/1 [==============================] - 3s 3s/step - loss: 83049.6328 - accuracy: 1.4768e-04
Epoch 19/30
1/1 [==============================] - 3s 3s/step - loss: 80051.4141 - accuracy: 1.4768e-04
Epoch 20/30
1/1 [==============================] - 3s 3s/step - loss: 78392.2891 - accuracy: 1.4768e-04
Epoch 21/30
1/1 [==============================] - 3s 3s/step - loss: 77678.8750 - accuracy: 1.4768e-04
Epoch 22/30
1/1 [==============================] - 3s 3s/step - loss: 76793.0938 - accuracy: 1.4768e-04
Epoch 23/30
1/1 [==============================] - 3s 3s/step - loss: 76749.3750 - accuracy: 1.4768e-04
Epoch 24/30
1/1 [==============================] - 3s 3s/step - loss: 76714.7891 - accuracy: 1.4768e-04
Epoch 25/30
1/1 [==============================] - 3s 3s/step - loss: 76558.0625 - accuracy: 1.4768e-04
Epoch 26/30
1/1 [==============================] - 3s 3s/step - loss: 76503.0000 - accuracy: 1.4768e-04
Epoch 27/30
1/1 [==============================] - 3s 3s/step - loss: 76499.2578 - accuracy: 1.4768e-04
Epoch 28/30
1/1 [==============================] - 3s 3s/step - loss: 76484.6172 - accuracy: 1.4768e-04
Epoch 29/30
1/1 [==============================] - 3s 3s/step - loss: 76453.5703 - accuracy: 1.4768e-04
Epoch 30/30
1/1 [==============================] - 3s 3s/step - loss: 76441.9062 - accuracy: 1.4768e-04
Epoch 1/30
1/1 [==============================] - 3s 3s/step - loss: 31274.8125 - accuracy: 1.6409e-05
Epoch 2/30
1/1 [==============================] - 3s 3s/step - loss: 31280.3867 - accuracy: 1.6409e-05
Epoch 3/30
1/1 [==============================] - 3s 3s/step - loss: 31179.7695 - accuracy: 1.6409e-05
Epoch 4/30
1/1 [==============================] - 3s 3s/step - loss: 30982.4863 - accuracy: 1.6409e-05
Epoch 5/30
1/1 [==============================] - 3s 3s/step - loss: 30734.7559 - accuracy: 1.6409e-05
Epoch 6/30
1/1 [==============================] - 3s 3s/step - loss: 30152.7422 - accuracy: 1.6409e-05
Epoch 7/30
1/1 [==============================] - 3s 3s/step - loss: 29918.1895 - accuracy: 1.6409e-05
Epoch 8/30
1/1 [==============================] - 3s 3s/step - loss: 29686.0879 - accuracy: 1.6409e-05
Epoch 9/30
1/1 [==============================] - 3s 3s/step - loss: 29458.7598 - accuracy: 1.6409e-05
Epoch 10/30
1/1 [==============================] - 3s 3s/step - loss: 29239.8105 - accuracy: 1.6409e-05
Epoch 11/30
1/1 [==============================] - 3s 3s/step - loss: 29030.9629 - accuracy: 1.6409e-05
Epoch 12/30
1/1 [==============================] - 3s 3s/step - loss: 28829.1016 - accuracy: 1.6409e-05
Epoch 13/30
1/1 [==============================] - 3s 3s/step - loss: 28633.2090 - accuracy: 1.6409e-05
Epoch 14/30
1/1 [==============================] - 3s 3s/step - loss: 28449.9629 - accuracy: 1.6409e-05
Epoch 15/30
1/1 [==============================] - 3s 3s/step - loss: 28285.3496 - accuracy: 1.6409e-05
Epoch 16/30
1/1 [==============================] - 3s 3s/step - loss: 28140.1484 - accuracy: 1.6409e-05
Epoch 17/30
1/1 [==============================] - 3s 3s/step - loss: 28011.1270 - accuracy: 1.6409e-05
Epoch 18/30
1/1 [==============================] - 3s 3s/step - loss: 27893.9434 - accuracy: 1.6409e-05
Epoch 19/30
1/1 [==============================] - 3s 3s/step - loss: 27787.5312 - accuracy: 1.6409e-05
Epoch 20/30
1/1 [==============================] - 3s 3s/step - loss: 27690.7207 - accuracy: 1.6409e-05
Epoch 21/30
1/1 [==============================] - 3s 3s/step - loss: 27602.6602 - accuracy: 1.6409e-05
Epoch 22/30
1/1 [==============================] - 3s 3s/step - loss: 27522.7598 - accuracy: 1.6409e-05
Epoch 23/30
1/1 [==============================] - 3s 3s/step - loss: 27450.5859 - accuracy: 1.6409e-05
Epoch 24/30
1/1 [==============================] - 3s 3s/step - loss: 27386.0723 - accuracy: 1.6409e-05
Epoch 25/30
1/1 [==============================] - 3s 3s/step - loss: 27328.3105 - accuracy: 1.6409e-05
Epoch 26/30
1/1 [==============================] - 3s 3s/step - loss: 27276.4629 - accuracy: 1.6409e-05
Epoch 27/30
1/1 [==============================] - 3s 3s/step - loss: 27229.6992 - accuracy: 1.6409e-05
Epoch 28/30
1/1 [==============================] - 3s 3s/step - loss: 27187.2520 - accuracy: 1.6409e-05
Epoch 29/30
1/1 [==============================] - 3s 3s/step - loss: 27148.4395 - accuracy: 1.6409e-05
Epoch 30/30
1/1 [==============================] - 3s 3s/step - loss: 27112.9805 - accuracy: 1.6409e-05
Epoch 1/30
1/1 [==============================] - 3s 3s/step - loss: 148020.9531 - accuracy: 3.6919e-05
Epoch 2/30
1/1 [==============================] - 3s 3s/step - loss: 148095.9688 - accuracy: 3.6919e-05
Epoch 3/30
1/1 [==============================] - 3s 3s/step - loss: 148109.4531 - accuracy: 3.6919e-05
Epoch 4/30
1/1 [==============================] - 3s 3s/step - loss: 148071.6250 - accuracy: 3.6919e-05
Epoch 5/30
1/1 [==============================] - 3s 3s/step - loss: 147991.8594 - accuracy: 3.6919e-05
Epoch 6/30
1/1 [==============================] - 3s 3s/step - loss: 147877.9844 - accuracy: 3.6919e-05
Epoch 7/30
1/1 [==============================] - 3s 3s/step - loss: 147734.3438 - accuracy: 3.6919e-05
Epoch 8/30
1/1 [==============================] - 3s 3s/step - loss: 147564.1406 - accuracy: 3.6919e-05
Epoch 9/30
1/1 [==============================] - 3s 3s/step - loss: 147369.0000 - accuracy: 3.6919e-05
Epoch 10/30
1/1 [==============================] - 3s 3s/step - loss: 147149.1250 - accuracy: 3.6919e-05
Epoch 11/30
1/1 [==============================] - 3s 3s/step - loss: 146910.9688 - accuracy: 3.6919e-05
Epoch 12/30
1/1 [==============================] - 3s 3s/step - loss: 146660.3750 - accuracy: 3.6919e-05
Epoch 13/30
1/1 [==============================] - 3s 3s/step - loss: 146396.8281 - accuracy: 3.6919e-05
Epoch 14/30
1/1 [==============================] - 3s 3s/step - loss: 146123.1719 - accuracy: 3.6919e-05
Epoch 15/30
1/1 [==============================] - 3s 3s/step - loss: 145841.5312 - accuracy: 3.6919e-05
Epoch 16/30
1/1 [==============================] - 3s 3s/step - loss: 145554.2500 - accuracy: 3.6919e-05
Epoch 17/30
1/1 [==============================] - 3s 3s/step - loss: 145262.8281 - accuracy: 3.6919e-05
Epoch 18/30
1/1 [==============================] - 3s 3s/step - loss: 144969.4219 - accuracy: 3.6919e-05
Epoch 19/30
1/1 [==============================] - 3s 3s/step - loss: 144675.7188 - accuracy: 3.6919e-05
Epoch 20/30
1/1 [==============================] - 3s 3s/step - loss: 144383.2656 - accuracy: 3.6919e-05
Epoch 21/30
1/1 [==============================] - 3s 3s/step - loss: 144093.9219 - accuracy: 3.6919e-05
Epoch 22/30
1/1 [==============================] - 3s 3s/step - loss: 143809.4062 - accuracy: 3.6919e-05
Epoch 23/30
1/1 [==============================] - 3s 3s/step - loss: 143530.7812 - accuracy: 3.6919e-05
Epoch 24/30
1/1 [==============================] - 3s 3s/step - loss: 143259.0156 - accuracy: 3.6919e-05
Epoch 25/30
1/1 [==============================] - 3s 3s/step - loss: 142995.5625 - accuracy: 3.6919e-05
Epoch 26/30
1/1 [==============================] - 3s 3s/step - loss: 142741.3906 - accuracy: 3.6919e-05
Epoch 27/30
1/1 [==============================] - 3s 3s/step - loss: 142497.2812 - accuracy: 3.6919e-05
Epoch 28/30
1/1 [==============================] - 3s 3s/step - loss: 142263.8906 - accuracy: 3.6919e-05
Epoch 29/30
1/1 [==============================] - 3s 3s/step - loss: 142041.5938 - accuracy: 3.6919e-05
Epoch 30/30
1/1 [==============================] - 3s 3s/step - loss: 141831.4375 - accuracy: 3.6919e-05
Epoch 1/30
1/1 [==============================] - 3s 3s/step - loss: 1456800.1250 - accuracy: 0.0044
Epoch 2/30
1/1 [==============================] - 3s 3s/step - loss: 1455082.0000 - accuracy: 0.0044
Epoch 3/30
1/1 [==============================] - 3s 3s/step - loss: 1452988.2500 - accuracy: 0.0044
Epoch 4/30
1/1 [==============================] - 3s 3s/step - loss: 1450584.1250 - accuracy: 0.0044
Epoch 5/30
1/1 [==============================] - 3s 3s/step - loss: 1447925.3750 - accuracy: 0.0044
Epoch 6/30
1/1 [==============================] - 3s 3s/step - loss: 1445058.3750 - accuracy: 0.0044
Epoch 7/30
1/1 [==============================] - 3s 3s/step - loss: 1442027.8750 - accuracy: 0.0044
Epoch 8/30
1/1 [==============================] - 3s 3s/step - loss: 1438878.1250 - accuracy: 0.0044
Epoch 9/30
1/1 [==============================] - 3s 3s/step - loss: 1435661.6250 - accuracy: 0.0044
Epoch 10/30
1/1 [==============================] - 3s 3s/step - loss: 1432423.2500 - accuracy: 0.0044
Epoch 11/30
1/1 [==============================] - 3s 3s/step - loss: 1429184.2500 - accuracy: 0.0044
Epoch 12/30

IndexError: list index out of range

In [ ]:
import tensorflow as tf


time_steps=train_df['datetime'].nunique()
model = Sequential()
sequence_length=1
num_features=54
model.add(LSTM(50, activation='relu', input_shape=(None, num_features)))
model.add(Dense(1))  # Assuming a single output for regression
validation_interval = 10

model.compile(optimizer='adam', loss='mse')

accumulated_state = None

# Example of how to use the function in your training loop
for timestep, val in enumerate(timelist):
    # Generate and merge data on runtime
    X_train, y_train = generate_and_merge_data(timestep, val)
    X_train=np.array(X_train)
    y_train=np.array(y_train)
    # Reshape X_train to match the input shape of the LSTM model
    X_train = X_train.reshape((X_train.shape[0], 1, num_features))

    # Train the model with a rolling window of past timesteps
    if timestep >= sequence_length:
        if accumulated_state is None:
            # If this is the first time, initialize the accumulated_state
            accumulated_state = model.get_weights()

        model.set_weights(accumulated_state)
        model.train_on_batch(X_train, y_train)
        accumulated_state = model.get_weights()
    else:
      model.train_on_batch(X_train, y_train)
      accumulated_state = model.get_weights()

    if timestep % validation_interval == 0:
        X_val, y_val = generate_and_merge_data(timestep, val)
        X_val=np.array(X_val)
        y_val=np.array(y_val)
        X_val = X_val.reshape((X_val.shape[0], 1, num_features))
        loss = model.evaluate(X_val, y_val, verbose=0)
        print(f'Timestep: {timestep}, Validation Loss: {loss}')

Timestep: 0, Validation Loss: 408037.5
Timestep: 10, Validation Loss: 625017.1875
Timestep: 20, Validation Loss: 529190.1875
Timestep: 30, Validation Loss: 242509.796875
Timestep: 40, Validation Loss: 186391.6875
Timestep: 50, Validation Loss: 227905.765625
Timestep: 60, Validation Loss: 234345.75
Timestep: 70, Validation Loss: 281064.5
Timestep: 80, Validation Loss: 603515.4375
Timestep: 90, Validation Loss: 513070.375
Timestep: 100, Validation Loss: 241906.453125
Timestep: 110, Validation Loss: 577859.9375
Timestep: 120, Validation Loss: 277255.40625
Timestep: 130, Validation Loss: 664834.25
Timestep: 140, Validation Loss: 426968.4375
Timestep: 150, Validation Loss: 349271.71875
Timestep: 160, Validation Loss: 349309.34375
Timestep: 170, Validation Loss: 247732.84375
Timestep: 180, Validation Loss: 558871.125
Timestep: 190, Validation Loss: 300288.96875
Timestep: 200, Validation Loss: 214215.9375
Timestep: 210, Validation Loss: 176279.734375
Timestep: 220, Validation Loss: 216031.453125
Timestep: 230, Validation Loss: 166686.078125
Timestep: 240, Validation Loss: 239377.578125
Timestep: 250, Validation Loss: 702273.125
Timestep: 260, Validation Loss: 404757.40625
Timestep: 270, Validation Loss: 362834.21875
Timestep: 280, Validation Loss: 242817.9375
Timestep: 290, Validation Loss: 229310.09375
Timestep: 300, Validation Loss: 462191.34375
Timestep: 310, Validation Loss: 317396.59375
Timestep: 320, Validation Loss: 643750.0625
Timestep: 330, Validation Loss: 460997.375
Timestep: 340, Validation Loss: 273389.09375
Timestep: 350, Validation Loss: 302077.78125
Timestep: 360, Validation Loss: 218307.4375
Timestep: 370, Validation Loss: 101721.3515625
Timestep: 380, Validation Loss: 244415.84375
Timestep: 390, Validation Loss: 219167.96875
Timestep: 400, Validation Loss: 75642.7734375
Timestep: 410, Validation Loss: 209972.203125
Timestep: 420, Validation Loss: 291416.0
Timestep: 430, Validation Loss: 303765.09375
Timestep: 440, Validation Loss: 678144.375
Timestep: 450, Validation Loss: 480658.75
Timestep: 460, Validation Loss: 261405.4375
Timestep: 470, Validation Loss: 517801.8125
Timestep: 480, Validation Loss: 265592.75
Timestep: 490, Validation Loss: 483932.25
Timestep: 500, Validation Loss: 431348.3125
Timestep: 510, Validation Loss: 381154.09375
Timestep: 520, Validation Loss: 559991.0625
Timestep: 530, Validation Loss: 206567.84375
Timestep: 540, Validation Loss: 174597.53125
Timestep: 550, Validation Loss: 208929.015625
Timestep: 560, Validation Loss: 156054.953125
Timestep: 570, Validation Loss: 216518.8125
Timestep: 580, Validation Loss: 200753.40625
Timestep: 590, Validation Loss: 264930.21875
Timestep: 600, Validation Loss: 253234.6875
Timestep: 610, Validation Loss: 355675.15625
Timestep: 620, Validation Loss: 421208.96875
Timestep: 630, Validation Loss: 361833.6875
Timestep: 640, Validation Loss: 616573.3125
Timestep: 650, Validation Loss: 237178.625
Timestep: 660, Validation Loss: 601797.9375
Timestep: 670, Validation Loss: 340691.375
Timestep: 680, Validation Loss: 755985.875
Timestep: 690, Validation Loss: 456487.96875
Timestep: 700, Validation Loss: 245644.171875
Timestep: 710, Validation Loss: 76417.3984375
Timestep: 720, Validation Loss: 177656.34375
Timestep: 730, Validation Loss: 57178.296875
Timestep: 740, Validation Loss: 246883.046875
Timestep: 750, Validation Loss: 336785.59375
Timestep: 760, Validation Loss: 514548.5625
Timestep: 770, Validation Loss: 216215.359375
Timestep: 780, Validation Loss: 755399.0
Timestep: 790, Validation Loss: 352582.0
Timestep: 800, Validation Loss: 683055.0
Timestep: 810, Validation Loss: 510062.15625
Timestep: 820, Validation Loss: 250736.578125
Timestep: 830, Validation Loss: 499057.6875
Timestep: 840, Validation Loss: 253842.734375
Timestep: 850, Validation Loss: 324015.375
Timestep: 860, Validation Loss: 374727.9375
Timestep: 870, Validation Loss: 221419.859375
Timestep: 880, Validation Loss: 207883.71875
Timestep: 890, Validation Loss: 147500.765625
Timestep: 900, Validation Loss: 126394.734375
Timestep: 910, Validation Loss: 210853.125
Timestep: 920, Validation Loss: 702123.8125
Timestep: 930, Validation Loss: 550427.3125
Timestep: 940, Validation Loss: 233952.21875
Timestep: 950, Validation Loss: 529836.6875
Timestep: 960, Validation Loss: 216381.390625
Timestep: 970, Validation Loss: 632154.3125
Timestep: 980, Validation Loss: 390648.1875
Timestep: 990, Validation Loss: 389673.03125
Timestep: 1000, Validation Loss: 638433.3125
Timestep: 1010, Validation Loss: 220068.875
Timestep: 1020, Validation Loss: 761872.0625
Timestep: 1030, Validation Loss: 298994.28125
Timestep: 1040, Validation Loss: 246625.421875
Timestep: 1050, Validation Loss: 275686.59375
Timestep: 1060, Validation Loss: 173085.671875
Timestep: 1070, Validation Loss: 54130.81640625
Timestep: 1080, Validation Loss: 218123.234375
Timestep: 1090, Validation Loss: 511984.125
Timestep: 1100, Validation Loss: 418298.15625
Timestep: 1110, Validation Loss: 368396.25
Timestep: 1120, Validation Loss: 564410.3125
Timestep: 1130, Validation Loss: 232427.984375
Timestep: 1140, Validation Loss: 829530.1875
Timestep: 1150, Validation Loss: 322576.96875
Timestep: 1160, Validation Loss: 718907.8125
Timestep: 1170, Validation Loss: 512401.8125
Timestep: 1180, Validation Loss: 243676.09375
Timestep: 1190, Validation Loss: 489917.1875
Timestep: 1200, Validation Loss: 209552.828125
Timestep: 1210, Validation Loss: 274041.53125
Timestep: 1220, Validation Loss: 251522.859375
Timestep: 1230, Validation Loss: 199887.59375
Timestep: 1240, Validation Loss: 218723.0625
Timestep: 1250, Validation Loss: 199926.390625
Timestep: 1260, Validation Loss: 758927.4375
Timestep: 1270, Validation Loss: 305311.90625
Timestep: 1280, Validation Loss: 760801.6875
Timestep: 1290, Validation Loss: 517753.15625
Timestep: 1300, Validation Loss: 270465.59375
Timestep: 1310, Validation Loss: 708943.8125
Timestep: 1320, Validation Loss: 226628.09375
Timestep: 1330, Validation Loss: 623568.0
Timestep: 1340, Validation Loss: 393123.625
Timestep: 1350, Validation Loss: 341767.125
Timestep: 1360, Validation Loss: 515988.3125
Timestep: 1370, Validation Loss: 195056.546875
Timestep: 1380, Validation Loss: 139286.765625
Timestep: 1390, Validation Loss: 215652.03125
Timestep: 1400, Validation Loss: 139754.703125
Timestep: 1410, Validation Loss: 242784.90625
Timestep: 1420, Validation Loss: 206256.421875
Timestep: 1430, Validation Loss: 661750.5
Timestep: 1440, Validation Loss: 225404.1875
Timestep: 1450, Validation Loss: 416586.46875
Timestep: 1460, Validation Loss: 366600.0625
Timestep: 1470, Validation Loss: 537719.0
Timestep: 1480, Validation Loss: 593410.3125
Timestep: 1490, Validation Loss: 248579.484375
Timestep: 1500, Validation Loss: 653478.8125
Timestep: 1510, Validation Loss: 278261.3125
Timestep: 1520, Validation Loss: 754028.8125
Timestep: 1530, Validation Loss: 405698.75
Timestep: 1540, Validation Loss: 214966.09375
Timestep: 1550, Validation Loss: 280817.09375
Timestep: 1560, Validation Loss: 191179.53125
Timestep: 1570, Validation Loss: 269840.5625
Timestep: 1580, Validation Loss: 217800.78125
Timestep: 1590, Validation Loss: 547085.4375
Timestep: 1600, Validation Loss: 660172.3125
Timestep: 1610, Validation Loss: 257171.484375
Timestep: 1620, Validation Loss: 750811.8125
Timestep: 1630, Validation Loss: 300947.28125
Timestep: 1640, Validation Loss: 851424.9375
Timestep: 1650, Validation Loss: 436700.9375
Timestep: 1660, Validation Loss: 273776.25
Timestep: 1670, Validation Loss: 775327.625
Timestep: 1680, Validation Loss: 225307.421875
Timestep: 1690, Validation Loss: 660490.75
Timestep: 1700, Validation Loss: 308638.75
Timestep: 1710, Validation Loss: 233974.546875
Timestep: 1720, Validation Loss: 308484.25
Timestep: 1730, Validation Loss: 176233.875
Timestep: 1740, Validation Loss: 113390.296875
Timestep: 1750, Validation Loss: 235544.828125
Timestep: 1760, Validation Loss: 961384.375
Timestep: 1770, Validation Loss: 518171.625
Timestep: 1780, Validation Loss: 276609.1875
Timestep: 1790, Validation Loss: 872213.3125
Timestep: 1800, Validation Loss: 232661.921875
Timestep: 1810, Validation Loss: 851463.375
Timestep: 1820, Validation Loss: 381765.96875
Timestep: 1830, Validation Loss: 515852.65625
Timestep: 1840, Validation Loss: 653439.625
Timestep: 1850, Validation Loss: 270341.28125
Timestep: 1860, Validation Loss: 748830.25
Timestep: 1870, Validation Loss: 271140.625
Timestep: 1880, Validation Loss: 298838.875
Timestep: 1890, Validation Loss: 288764.0625
Timestep: 1900, Validation Loss: 207877.171875
Timestep: 1910, Validation Loss: 304653.65625
Timestep: 1920, Validation Loss: 207152.140625
Timestep: 1930, Validation Loss: 707703.8125
Timestep: 1940, Validation Loss: 383493.125
Timestep: 1950, Validation Loss: 607230.25
Timestep: 1960, Validation Loss: 698364.8125
Timestep: 1970, Validation Loss: 296445.71875
Timestep: 1980, Validation Loss: 725312.0
Timestep: 1990, Validation Loss: 306000.375
Timestep: 2000, Validation Loss: 888456.5
Timestep: 2010, Validation Loss: 451111.8125
Timestep: 2020, Validation Loss: 293879.625
Timestep: 2030, Validation Loss: 819555.3125
Timestep: 2040, Validation Loss: 248545.65625
Timestep: 2050, Validation Loss: 304119.8125
Timestep: 2060, Validation Loss: 295777.21875
Timestep: 2070, Validation Loss: 276379.625
Timestep: 2080, Validation Loss: 346563.71875
Timestep: 2090, Validation Loss: 275692.40625
Timestep: 2100, Validation Loss: 970798.1875
Timestep: 2110, Validation Loss: 361385.90625
Timestep: 2120, Validation Loss: 1007228.5625
Timestep: 2130, Validation Loss: 534117.75
Timestep: 2140, Validation Loss: 351617.8125
Timestep: 2150, Validation Loss: 909063.1875
Timestep: 2160, Validation Loss: 323196.0
Timestep: 2170, Validation Loss: 953458.5625
Timestep: 2180, Validation Loss: 464299.15625
Timestep: 2190, Validation Loss: 614910.4375
Timestep: 2200, Validation Loss: 686958.4375
Timestep: 2210, Validation Loss: 305458.84375
Timestep: 2220, Validation Loss: 385216.375
Timestep: 2230, Validation Loss: 303354.65625
Timestep: 2240, Validation Loss: 364744.4375
Timestep: 2250, Validation Loss: 377903.71875
Timestep: 2260, Validation Loss: 359480.875
Timestep: 2270, Validation Loss: 1078920.75
Timestep: 2280, Validation Loss: 403941.84375
Timestep: 2290, Validation Loss: 1049047.375
Timestep: 2300, Validation Loss: 566209.375
Timestep: 2310, Validation Loss: 761516.5
Timestep: 2320, Validation Loss: 805234.5625
Timestep: 2330, Validation Loss: 383826.40625
Timestep: 2340, Validation Loss: 1061652.75
Timestep: 2350, Validation Loss: 472987.46875
Timestep: 2360, Validation Loss: 1077259.625
Timestep: 2370, Validation Loss: 573005.8125
Timestep: 2380, Validation Loss: 334003.34375
Timestep: 2390, Validation Loss: 421927.78125
Timestep: 2400, Validation Loss: 263741.09375
Timestep: 2410, Validation Loss: 364090.5
Timestep: 2420, Validation Loss: 297683.4375
Timestep: 2430, Validation Loss: 673609.75
Timestep: 2440, Validation Loss: 686144.6875
Timestep: 2450, Validation Loss: 278573.1875
Timestep: 2460, Validation Loss: 869932.375
Timestep: 2470, Validation Loss: 345181.4375
Timestep: 2480, Validation Loss: 963038.5625
Timestep: 2490, Validation Loss: 467022.15625
Timestep: 2500, Validation Loss: 308061.3125
Timestep: 2510, Validation Loss: 786052.1875
Timestep: 2520, Validation Loss: 273212.15625
Timestep: 2530, Validation Loss: 654402.3125
Timestep: 2540, Validation Loss: 365285.65625
Timestep: 2550, Validation Loss: 296812.5
Timestep: 2560, Validation Loss: 325194.84375
Timestep: 2570, Validation Loss: 207691.84375
Timestep: 2580, Validation Loss: 300942.28125
Timestep: 2590, Validation Loss: 285719.15625
Timestep: 2600, Validation Loss: 987151.8125
Timestep: 2610, Validation Loss: 508112.5
Timestep: 2620, Validation Loss: 334500.8125
Timestep: 2630, Validation Loss: 881648.0
Timestep: 2640, Validation Loss: 303325.25
Timestep: 2650, Validation Loss: 858493.3125
Timestep: 2660, Validation Loss: 407744.625
Timestep: 2670, Validation Loss: 435105.15625
Timestep: 2680, Validation Loss: 434744.9375
Timestep: 2690, Validation Loss: 227440.515625
Timestep: 2700, Validation Loss: 303307.46875
Timestep: 2710, Validation Loss: 284008.5625
Timestep: 2720, Validation Loss: 273258.71875
Timestep: 2730, Validation Loss: 287403.625
Timestep: 2740, Validation Loss: 245782.640625
Timestep: 2750, Validation Loss: 314957.78125
Timestep: 2760, Validation Loss: 218556.265625
Timestep: 2770, Validation Loss: 759872.875
Timestep: 2780, Validation Loss: 349961.28125
Timestep: 2790, Validation Loss: 449539.6875
Timestep: 2800, Validation Loss: 550990.6875
Timestep: 2810, Validation Loss: 284292.90625
Timestep: 2820, Validation Loss: 684181.5
Timestep: 2830, Validation Loss: 322528.78125
Timestep: 2840, Validation Loss: 652933.8125
Timestep: 2850, Validation Loss: 403617.46875
Timestep: 2860, Validation Loss: 231403.203125
Timestep: 2870, Validation Loss: 287897.40625
Timestep: 2880, Validation Loss: 244755.765625
Timestep: 2890, Validation Loss: 281311.9375
Timestep: 2900, Validation Loss: 309791.34375
Timestep: 2910, Validation Loss: 297890.875
Timestep: 2920, Validation Loss: 428022.96875
Timestep: 2930, Validation Loss: 270343.59375
Timestep: 2940, Validation Loss: 1112932.375
Timestep: 2950, Validation Loss: 357942.59375
Timestep: 2960, Validation Loss: 1026526.0
Timestep: 2970, Validation Loss: 1075074.125
Timestep: 2980, Validation Loss: 416593.71875
Timestep: 2990, Validation Loss: 1593766.75
Timestep: 3000, Validation Loss: 343671.59375
Timestep: 3010, Validation Loss: 1190713.875
Timestep: 3020, Validation Loss: 507692.03125
Timestep: 3030, Validation Loss: 708775.5625
Timestep: 3040, Validation Loss: 820310.0
Timestep: 3050, Validation Loss: 383009.5625
Timestep: 3060, Validation Loss: 540627.0
Timestep: 3070, Validation Loss: 369359.0625
Timestep: 3080, Validation Loss: 420868.15625
Timestep: 3090, Validation Loss: 423463.6875
Timestep: 3100, Validation Loss: 415492.0
Timestep: 3110, Validation Loss: 1159972.125
Timestep: 3120, Validation Loss: 462094.4375
Timestep: 3130, Validation Loss: 1275220.125
Timestep: 3140, Validation Loss: 657737.5625
Timestep: 3150, Validation Loss: 826211.625
Timestep: 3160, Validation Loss: 844376.6875
Timestep: 3170, Validation Loss: 429096.09375
Timestep: 3180, Validation Loss: 806369.875
Timestep: 3190, Validation Loss: 437145.09375
Timestep: 3200, Validation Loss: 1117704.75
Timestep: 3210, Validation Loss: 581289.0
Timestep: 3220, Validation Loss: 332663.28125
Timestep: 3230, Validation Loss: 436622.75
Timestep: 3240, Validation Loss: 322548.5
Timestep: 3250, Validation Loss: 376857.65625
Timestep: 3260, Validation Loss: 337261.25
Timestep: 3270, Validation Loss: 737044.625
Timestep: 3280, Validation Loss: 821730.125
Timestep: 3290, Validation Loss: 414697.46875
Timestep: 3300, Validation Loss: 1021224.125
Timestep: 3310, Validation Loss: 462962.15625
Timestep: 3320, Validation Loss: 1119414.375
Timestep: 3330, Validation Loss: 609922.1875
Timestep: 3340, Validation Loss: 443115.5625
Timestep: 3350, Validation Loss: 985393.75
Timestep: 3360, Validation Loss: 380891.78125
Timestep: 3370, Validation Loss: 1052129.125
Timestep: 3380, Validation Loss: 520612.0625
Timestep: 3390, Validation Loss: 413424.78125
Timestep: 3400, Validation Loss: 493688.28125
Timestep: 3410, Validation Loss: 326893.25
Timestep: 3420, Validation Loss: 461788.90625
Timestep: 3430, Validation Loss: 347614.0
Timestep: 3440, Validation Loss: 1196246.5
Timestep: 3450, Validation Loss: 599533.75
Timestep: 3460, Validation Loss: 398924.5625
Timestep: 3470, Validation Loss: 847874.4375
Timestep: 3480, Validation Loss: 385335.78125
Timestep: 3490, Validation Loss: 872556.4375
Timestep: 3500, Validation Loss: 521185.15625
Timestep: 3510, Validation Loss: 676505.5
Timestep: 3520, Validation Loss: 771021.8125
Timestep: 3530, Validation Loss: 368679.875
Timestep: 3540, Validation Loss: 901812.4375
Timestep: 3550, Validation Loss: 399390.25
Timestep: 3560, Validation Loss: 419728.1875
Timestep: 3570, Validation Loss: 400174.375
Timestep: 3580, Validation Loss: 271695.15625
Timestep: 3590, Validation Loss: 382702.78125
Timestep: 3600, Validation Loss: 325252.40625
Timestep: 3610, Validation Loss: 1135025.25
Timestep: 3620, Validation Loss: 525128.6875
Timestep: 3630, Validation Loss: 721912.125
Timestep: 3640, Validation Loss: 842011.0625
Timestep: 3650, Validation Loss: 458808.03125
Timestep: 3660, Validation Loss: 1121837.125
Timestep: 3670, Validation Loss: 529087.1875
Timestep: 3680, Validation Loss: 1214865.375
Timestep: 3690, Validation Loss: 688354.25
Timestep: 3700, Validation Loss: 478093.8125
Timestep: 3710, Validation Loss: 925665.0
Timestep: 3720, Validation Loss: 341492.4375
Timestep: 3730, Validation Loss: 476436.5
Timestep: 3740, Validation Loss: 397776.15625
Timestep: 3750, Validation Loss: 341950.03125
Timestep: 3760, Validation Loss: 440402.96875
Timestep: 3770, Validation Loss: 324969.96875
Timestep: 3780, Validation Loss: 999177.625
Timestep: 3790, Validation Loss: 427494.09375
Timestep: 3800, Validation Loss: 1086174.25
Timestep: 3810, Validation Loss: 596688.5625
Timestep: 3820, Validation Loss: 401778.34375
Timestep: 3830, Validation Loss: 931638.375
Timestep: 3840, Validation Loss: 380664.5
Timestep: 3850, Validation Loss: 810642.0
Timestep: 3860, Validation Loss: 552575.0
Timestep: 3870, Validation Loss: 744121.6875
Timestep: 3880, Validation Loss: 736035.8125
Timestep: 3890, Validation Loss: 369323.15625
Timestep: 3900, Validation Loss: 377446.46875
Timestep: 3910, Validation Loss: 355701.0
Timestep: 3920, Validation Loss: 365555.4375
Timestep: 3930, Validation Loss: 411524.59375
Timestep: 3940, Validation Loss: 371513.21875
Timestep: 3950, Validation Loss: 869112.75
Timestep: 3960, Validation Loss: 340411.1875
Timestep: 3970, Validation Loss: 796367.0
Timestep: 3980, Validation Loss: 494647.78125
Timestep: 3990, Validation Loss: 714629.25
Timestep: 4000, Validation Loss: 736784.4375
Timestep: 4010, Validation Loss: 370816.53125
Timestep: 4020, Validation Loss: 843166.8125
Timestep: 4030, Validation Loss: 415803.9375
Timestep: 4040, Validation Loss: 1034828.0
Timestep: 4050, Validation Loss: 566780.5625
Timestep: 4060, Validation Loss: 350068.1875
Timestep: 4070, Validation Loss: 435566.21875
Timestep: 4080, Validation Loss: 279812.03125
Timestep: 4090, Validation Loss: 336662.15625
Timestep: 4100, Validation Loss: 366617.4375
Timestep: 4110, Validation Loss: 699610.0
Timestep: 4120, Validation Loss: 770210.0625
Timestep: 4130, Validation Loss: 339311.90625
Timestep: 4140, Validation Loss: 945904.4375
Timestep: 4150, Validation Loss: 436234.21875
Timestep: 4160, Validation Loss: 971669.75
Timestep: 4170, Validation Loss: 512214.28125
Timestep: 4180, Validation Loss: 346541.09375
Timestep: 4190, Validation Loss: 332405.125
Timestep: 4200, Validation Loss: 283390.75
Timestep: 4210, Validation Loss: 589421.4375
Timestep: 4220, Validation Loss: 395066.3125
Timestep: 4230, Validation Loss: 298630.5625
Timestep: 4240, Validation Loss: 328061.53125
Timestep: 4250, Validation Loss: 254342.71875
Timestep: 4260, Validation Loss: 90467.2421875
Timestep: 4270, Validation Loss: 299919.8125
Timestep: 4280, Validation Loss: 516316.1875
Timestep: 4290, Validation Loss: 566660.0625
Timestep: 4300, Validation Loss: 368918.3125
Timestep: 4310, Validation Loss: 404910.21875
Timestep: 4320, Validation Loss: 315503.5
Timestep: 4330, Validation Loss: 762060.75
Timestep: 4340, Validation Loss: 489062.9375
Timestep: 4350, Validation Loss: 670840.0625
Timestep: 4360, Validation Loss: 675043.875
Timestep: 4370, Validation Loss: 394042.90625
Timestep: 4380, Validation Loss: 351387.0
Timestep: 4390, Validation Loss: 403164.59375
Timestep: 4400, Validation Loss: 119459.375
Timestep: 4410, Validation Loss: 402305.625
Timestep: 4420, Validation Loss: 282049.25
Timestep: 4430, Validation Loss: 125656.109375
Timestep: 4440, Validation Loss: 287754.6875
Timestep: 4450, Validation Loss: 781133.25

# Check Later

In [ ]:
train_df.shape
e_price_df.sort_values('data_block_id').head(100)
client_df['county'].value_counts(dropna=False)

0     4422
11    4115
7     3596
5     3149
15    3089
4     3058
10    2797
14    2611
3     2544
9     2544
13    2514
2     2392
1     1908
8     1908
6      636
12     636
Name: county, dtype: int64

In [ ]:
train_df=train_df.merge(e_price_df, on='data_block_id',how='left',suffixes=('','e_price'))
#train_df=train_df.merge(gas_price_df, on='data_block_id',how='left',suffixes=('','gas_price'))
train_df.head(100)

,county,is_business,product_type,target,is_consumption,datetime,data_block_id,row_id,prediction_unit_id,forecast_date,euros_per_mwh,origin_date
0,0,0,1,0.713,0,2021-09-01 00:00:00,0,0,0,NaN,NaN,NaN
1,0,0,1,96.590,1,2021-09-01 00:00:00,0,1,0,NaN,NaN,NaN
2,0,0,2,0.000,0,2021-09-01 00:00:00,0,2,1,NaN,NaN,NaN
3,0,0,2,17.314,1,2021-09-01 00:00:00,0,3,1,NaN,NaN,NaN
4,0,0,3,2.904,0,2021-09-01 00:00:00,0,4,2,NaN,NaN,NaN
5,0,0,3,656.859,1,2021-09-01 00:00:00,0,5,2,NaN,NaN,NaN
6,0,1,0,0.000,0,2021-09-01 00:00:00,0,6,3,NaN,NaN,NaN
7,0,1,0,59.000,1,2021-09-01 00:00:00,0,7,3,NaN,NaN,NaN
8,0,1,1,0.000,0,2021-09-01 00:00:00,0,8,4,NaN,NaN,NaN
9,0,1,1,501.760,1,2021-09-01 00:00:00,0,9,4,NaN,NaN,NaN
10,0,1,3,0.315,0,2021-09-01 00:00:00,0,10,5,NaN,NaN,NaN
11,0,1,3,5155.056,1,2021-09-01 00:00:00,0,11,5,NaN,NaN,NaN
12,1,0,1,0.000,0,2021-09-01 00:00:00,0,12,6,NaN,NaN,NaN
13,1,0,1,2.756,1,2021-09-01 00:00:00,0,13,6,NaN,NaN,NaN
14,1,0,3,0.087,0,2021-09-01 00:00:00,0,14,7,NaN,NaN,NaN
15,1,0,3,22.841,1,2021-09-01 00:00:00,0,15,7,NaN,NaN,NaN
16,1,1,3,0.000,0,2021-09-01 00:00:00,0,16,8,NaN,NaN,NaN
17,1,1,3,30.778,1,2021-09-01 00:00:00,0,17,8,NaN,NaN,NaN
18,2,0,3,0.000,0,2021-09-01 00:00:00,0,18,9,NaN,NaN,NaN
19,2,0,3,23.444,1,2021-09-01 00:00:00,0,19,9,NaN,NaN,NaN
20,2,1,3,0.000,0,2021-09-01 00:00:00,0,20,10,NaN,NaN,NaN
21,2,1,3,266.637,1,2021-09-01 00:00:00,0,21,10,NaN,NaN,NaN
22,3,0,1,0.000,0,2021-09-01 00:00:00,0,22,11,NaN,NaN,NaN
23,3,0,1,14.964,1,2021-09-01 00:00:00,0,23,11,NaN,NaN,NaN
24,3,0,3,0.001,0,2021-09-01 00:00:00,0,24,12,NaN,NaN,NaN
25,3,0,3,39.241,1,2021-09-01 00:00:00,0,25,12,NaN,NaN,NaN
26,3,1,1,0.000,0,2021-09-01 00:00:00,0,26,13,NaN,NaN,NaN
27,3,1,1,55.483,1,2021-09-01 00:00:00,0,27,13,NaN,NaN,NaN
28,3,1,3,0.000,0,2021-09-01 00:00:00,0,28,14,NaN,NaN,NaN
29,3,1,3,729.075,1,2021-09-01 00:00:00,0,29,14,NaN,NaN,NaN
30,4,0,1,0.000,0,2021-09-01 00:00:00,0,30,15,NaN,NaN,NaN
31,4,0,1,4.895,1,2021-09-01 00:00:00,0,31,15,NaN,NaN,NaN
32,4,0,3,0.000,0,2021-09-01 00:00:00,0,32,16,NaN,NaN,NaN
33,4,0,3,26.628,1,2021-09-01 00:00:00,0,33,16,NaN,NaN,NaN
34,4,1,0,0.000,0,2021-09-01 00:00:00,0,34,17,NaN,NaN,NaN
35,4,1,0,247.823,1,2021-09-01 00:00:00,0,35,17,NaN,NaN,NaN
36,4,1,3,0.000,0,2021-09-01 00:00:00,0,36,18,NaN,NaN,NaN
37,4,1,3,356.901,1,2021-09-01 00:00:00,0,37,18,NaN,NaN,NaN
38,5,0,1,0.000,0,2021-09-01 00:00:00,0,38,19,NaN,NaN,NaN
39,5,0,1,18.490,1,2021-09-01 00:00:00,0,39,19,NaN,NaN,NaN
40,5,0,3,0.025,0,2021-09-01 00:00:00,0,40,20,NaN,NaN,NaN
41,5,0,3,73.636,1,2021-09-01 00:00:00,0,41,20,NaN,NaN,NaN
42,5,1,0,0.000,0,2021-09-01 00:00:00,0,42,21,NaN,NaN,NaN
43,5,1,0,1063.080,1,2021-09-01 00:00:00,0,43,21,NaN,NaN,NaN
44,5,1,1,0.000,0,2021-09-01 00:00:00,0,44,22,NaN,NaN,NaN
45,5,1,1,72.726,1,2021-09-01 00:00:00,0,45,22,NaN,NaN,NaN
46,5,1,3,0.000,0,2021-09-01 00:00:00,0,46,23,NaN,NaN,NaN
47,5,1,3,475.984,1,2021-09-01 00:00:00,0,47,23,NaN,NaN,NaN
48,6,1,3,0.000,0,2021-09-01 00:00:00,0,48,24,NaN,NaN,NaN
49,6,1,3,115.243,1,2021-09-01 00:00:00,0,49,24,NaN,NaN,NaN
50,7,0,1,0.000,0,2021-09-01 00:00:00,0,50,25,NaN,NaN,NaN
51,7,0,1,19.058,1,2021-09-01 00:00:00,0,51,25,NaN,NaN,NaN
52,7,0,2,0.000,0,2021-09-01 00:00:00,0,52,26,NaN,NaN,NaN
53,7,0,2,3.315,1,2021-09-01 00:00:00,0,53,26,NaN,NaN,NaN
54,7,0,3,0.028,0,2021-09-01 00:00:00,0,54,27,NaN,NaN,NaN
55,7,0,3,111.756,1,2021-09-01 00:00:00,0,55,27,NaN,NaN,NaN
56,7,1,0,0.000,0,2021-09-01 00:00:00,0,56,28,NaN,NaN,NaN
57,7,1,0,546.772,1,2021-09-01 00:00:00,0,57,28,NaN,NaN,NaN
58,7,1,1,0.000,0,2021-09-01 00:00:00,0,58,29,NaN,NaN,NaN
59,7,1,1,161.843,1,2021-09-01 00:00:00,0,59,29,NaN,NaN,NaN
60,7,1,3,0.000,0,2021-09-01 00:00:00,0,60,30,NaN,NaN,NaN
61,7,1,3,453.023,1,2021-09-01 00:00:00,0,61,30,NaN,NaN,NaN
62,8,0,1,0.000,0,2021-09-01 00:00:00,0,62,31,NaN,NaN,NaN
63,8,0,1,9.787,1,2021-09-01 00:00:00,0,63,31,NaN,NaN,NaN
64,8,0,3,0.000,0,2021-09-01 00:00:00,0,64,32,NaN,NaN,NaN
65,8,0,3,32.354,1,2021-09-01 00:00:00,0,65,32,NaN,NaN,NaN
66,8,1,3,0.000,0,2021-09-01 00:00:00,0,66,33,NaN,NaN,NaN
67,8,1,3,129.063,1,2021-09-01 00:00:00,0,67,33,NaN,NaN,NaN
68,9,0,1,0.000,0,2021-09-01 00:00:00,0,68,34,NaN,NaN,NaN
69,9,0,1,13.922,1,2021-09-01 00:00:00,0,69,34,NaN,NaN,NaN
70,9,0,3,0.089,0,2021-09-01 00:00:00,0,70,35,NaN,NaN,NaN
71,9,0,3,91.447,1,2021-09-01 00:00:00,0,71,35,NaN,NaN,NaN
72,9,1,1,0.000,0,2021-09-01 00:00:00,0,72,36,NaN,NaN,NaN
73,9,1,1,35.116,1,2021-09-01 00:00:00,0,73,36,NaN,NaN,NaN
74,9,1,3,0.020,0,2021-09-01 00:00:00,0,74,37,NaN,NaN,NaN
75,9,1,3,48.725,1,2021-09-01 00:00:00,0,75,37,NaN,NaN,NaN
76,10,0,1,0.000,0,2021-09-01 00:00:00,0,76,38,NaN,NaN,NaN
77,10,0,1,7.886,1,2021-09-01 00:00:00,0,77,38,NaN,NaN,NaN
78,10,0,3,0.000,0,2021-09-01 00:00:00,0,78,39,NaN,NaN,NaN
79,10,0,3,77.071,1,2021-09-01 00:00:00,0,79,39,NaN,NaN,NaN
80,10,1,1,0.000,0,2021-09-01 00:00:00,0,80,40,NaN,NaN,NaN
81,10,1,1,43.957,1,2021-09-01 00:00:00,0,81,40,NaN,NaN,NaN
82,10,1,2,0.000,0,2021-09-01 00:00:00,0,82,41,NaN,NaN,NaN
83,10,1,2,55.013,1,2021-09-01 00:00:00,0,83,41,NaN,NaN,NaN
84,10,1,3,0.000,0,2021-09-01 00:00:00,0,84,42,NaN,NaN,NaN
85,10,1,3,927.349,1,2021-09-01 00:00:00,0,85,42,NaN,NaN,NaN
86,11,0,1,0.000,0,2021-09-01 00:00:00,0,86,43,NaN,NaN,NaN
87,11,0,1,21.099,1,2021-09-01 00:00:00,0,87,43,NaN,NaN,NaN
88,11,0,2,0.000,0,2021-09-01 00:00:00,0,88,44,NaN,NaN,NaN
89,11,0,2,7.620,1,2021-09-01 00:00:00,0,89,44,NaN,NaN,NaN
90,11,0,3,0.004,0,2021-09-01 00:00:00,0,90,45,NaN,NaN,NaN
91,11,0,3,229.602,1,2021-09-01 00:00:00,0,91,45,NaN,NaN,NaN
92,11,1,1,0.000,0,2021-09-01 00:00:00,0,92,46,NaN,NaN,NaN
93,11,1,1,228.155,1,2021-09-01 00:00:00,0,93,46,NaN,NaN,NaN
94,11,1,2,0.000,0,2021-09-01 00:00:00,0,94,47,NaN,NaN,NaN
95,11,1,2,26.553,1,2021-09-01 00:00:00,0,95,47,NaN,NaN,NaN
96,11,1,3,0.076,0,2021-09-01 00:00:00,0,96,48,NaN,NaN,NaN
97,11,1,3,3717.859,1,2021-09-01 00:00:00,0,97,48,NaN,NaN,NaN
98,12,1,3,0.000,0,2021-09-01 00:00:00,0,98,49,NaN,NaN,NaN
99,12,1,3,515.032,1,2021-09-01 00:00:00,0,99,49,NaN,NaN,NaN

In [ ]:
train_df.info(null_counts=True)

<ipython-input-6-3d6dc96a2c30>:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  train_df.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48366672 entries, 0 to 48366671
Data columns (total 12 columns):
 #   Column              Non-Null Count     Dtype
---  ------              --------------     -----
 0   county              48366672 non-null  int64
 1   is_business         48366672 non-null  int64
 2   product_type        48366672 non-null  int64
 3   target              48354000 non-null  float64
 4   is_consumption      48366672 non-null  int64
 5   datetime            48366672 non-null  object
 6   data_block_id       48366672 non-null  int64
 7   row_id              48366672 non-null  int64
 8   prediction_unit_id  48366672 non-null  int64
 9   forecast_date       48363744 non-null  object
 10  euros_per_mwh       48363744 non-null  float64
 11  origin_date         48363744 non-null  object
dtypes: float64(2), int64(7), object(3)
memory usage: 4.7+ GB